[2015-04-29 16:26] tonioo opened #2 "Automatic listing refresh"
_From @tonioo on December 4, 2013 15:23_

**Originally created by Antoine Nguyen on 2010-04-30T15:29:56Z**

When listing messages, it would be to usefull to refresh the page frequently in order to check for new messages.

At least one parameter is needed to specify the refresh rate.

_Copied from original issue: tonioo/modoboa#68_

[2015-04-29 16:26] tonioo commented on #2
**Posted by Antoine Nguyen on 2010-07-15T12:03:31Z**

Done in [63d3a9b7aa05]

[2015-04-29 16:27] tonioo opened #3 "Add STARTTLS to imap"
_From @Toniob on February 2, 2015 14:52_

imaplib supports starttls since the version 3.2. It should be great to add this feature, like the one for smtp.

_Copied from original issue: tonioo/modoboa#684_

[2015-04-29 16:28] tonioo commented on #3
_From @Toniob on February 2, 2015 14:53_

Here is a possible diff. It fallbacks to normal connection if the function is not available.
[code]

[2015-04-29 16:28] tonioo commented on #3
Indeed, it would be great but Modoboa is not compatible with Python 3 yet...

[2015-04-29 16:30] tonioo opened #4 "Webmail Error: "Modoboa: command UID => got more than 10000 bytes""
_From @piwats on November 17, 2014 14:16_

Hello,

suddenly, when trying to access the INBOX in the Webamiler under 1.1.7 I am getting this error:

```Modoboa: command UID => got more than 10000 bytes```

No emails are being shown in the list apart from this error.

Also I get nor errors in my log when this happens...

-Paul

Some information: http://stackoverflow.com/questions/25457441/reading-em

[2015-04-29 16:30] tonioo commented on #4
Hi,
this issue has been reported with large mailboxes... Currently, I don't have a quick fix for it.

[2015-04-30 14:41] tonioo opened #5 "Selection of multiple message to delete/mark as read/unread"
_From @emestels on February 11, 2015 13:15_

Hi,

In the inbox, in order to select multiple mail messages to apply an action (delete - mark as read - mark as unread) we need to use keyboard ctrl + click
==> it not possible with a touch screen device!
Simple click/touch of the check box should activate the select
![webmail - mozilla firefox_2015-02-11_14-09-08](https://cloud.githubusercontent.com/a

[2015-04-30 14:44] tonioo opened #6 "Impossible to send a mail from webmail with smartphone"
_From @emestels on February 11, 2015 13:5_

Hi,

There is a problem in the menu visualization on smartphones - impossible to "click" the WRITE/ECRIRE button to compose a new message!
![screenshot_2015-02-10-11-31-30](https://cloud.githubusercontent.com/assets/8982895/6147356/caccc2da-b1f6-11e4-97a6-12d458a72c05.png)

_Copied from original issue: tonioo/modoboa#691_

[2015-04-30 14:44] tonioo commented on #6
_From @emestels on February 25, 2015 10:4_

Do you need more info on this?

[2015-04-30 14:44] tonioo commented on #6
No that's enough, thank you.

[2015-04-30 14:48] tonioo opened #7 "Webmail: Bug: Error: ["Mailbox doesn't exist: virtual"]"
_From @piwats on July 4, 2014 15:47_

Hello Antoine,

I recently discovered dovecots' virtual mailboxes (http://wiki2.dovecot.org/Plugins/Virtual).

The config is pretty simple:
from 10-mail.conf:

namespace {
  prefix = virtual/
  separator = /
  location = virtual:~/dbox/virtual
}

After having them enabled and configured, Modoboa webmailer refuses to work as desired with this error, no erros in

[2015-04-30 14:48] tonioo commented on #7
Hi Paul,

I've never tried this feature so I don't think modo supports it atm. I'll take a look into it.

[2015-04-30 14:55] tonioo opened #8 "Unicode strings with encoding declaration are not supported."
_From @tonioo on December 4, 2013 15:48_

**Originally created by Antoine Nguyen on 2013-06-04T11:16:36Z**

Some emails cannot be parsed by lxml due to the following error:

*Unicode strings with encoding declaration are not supported.*

Modoboa uses unicode strings but it appears it should stay with std strings...

_Copied from original issue: tonioo/modoboa#410_

[2015-04-30 14:55] tonioo commented on #8
**Posted by Simon Kern on 2013-07-30T23:31:07Z**

Is this related to the following error? In general I found force_text (from django.utils.encoding) to be pretty helpful.
If so I fixed it like that:

<pre>
from django.utils.encoding import force_text

....
....
....

class EmailAddress(object):
    def __init__(self, address):
#        self.fulladdress = u2u_decode.u2u_decode(address).strip("\r\t\

[2015-04-30 14:55] tonioo commented on #8
**Posted by Antoine Nguyen on 2013-08-01T19:43:41Z**

Unfortunately, your proposal would not solve this issue. The problem I encounter is described here:

http://lxml.de/parsing.html#python-unicode-strings

I need to find a proper way to avoid sending unicode strings to lxml...

[2015-05-01 14:20] tonioo opened #9 "Display messages by discussion"
_From @tonioo on December 4, 2013 15:24_

**Originally created by Antoine Nguyen on 2010-07-29T08:41:30Z**

Implement another way of displaying messages. Actually, emails are displayed in a flat way (ie. a simple ordered list).

A few ideas to realize this feature:
* Make a tree based view (like Thunderbird),
* Make a multi-point base view (like gmail)

A new parameter will be added. It will allow

[2015-05-02 09:19] tonioo opened #10 "IMAP folder doesn't work with courier IMAP server"
_From @tonioo on December 4, 2013 15:39_

**Originally created by Patrick Hetu on 2012-05-23T17:21:31Z**

The fallback "simple" fetching function doesn't list folders.

_Copied from original issue: tonioo/modoboa#253_

[2015-05-02 09:22] tonioo opened #11 "Address book"
_From @tonioo on December 4, 2013 15:44_

**Originally created by Antoine Nguyen on 2012-10-21T09:42:45Z**

Implement (or find a django application) to provide address books to users.

_Copied from original issue: tonioo/modoboa#321_

[2015-05-02 09:23] tonioo opened #12 "New listing actions"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T09:48:27Z**

Add actions to the top menubar (because the drag&drop feature doesn't work everywhere):

* Remove selection
* Move selection

_Copied from original issue: tonioo/modoboa#324_

[2015-05-02 09:23] tonioo opened #13 "Advanced search"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T09:50:31Z**

Implement a smarter search tool. Think about the way Gmail works.

_Copied from original issue: tonioo/modoboa#325_

[2015-05-02 09:23] tonioo opened #14 "Display the message source"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T09:52:23Z**

Add a way to display a message source (a raw format).

_Copied from original issue: tonioo/modoboa#326_

[2015-05-02 09:24] tonioo opened #15 "Caching support"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T09:54:22Z**

To improve performance, Modoboa should use a local cache to store IMAP information. Maybe a Redis or MongoDB backend to store:

* UID per mailbox
* Body structures
* etc.

_Copied from original issue: tonioo/modoboa#327_

[2015-05-03 12:47] tonioo opened #16 "add possibility to add multiple emails in the "To" field of the webmail"
_From @tonioo on December 4, 2013 15:48_

**Originally created by Fabrice Flore-Thébault on 2013-06-05T11:44:02Z**

If you want to send an email to several users using the "To" field and not the "Cc" field, it is not possible at the moment.

Some user tried to add several adresses like @To: address1@email.tld; email2@email.tld@, but it doesn't work: see #424.

It would be nice to be able to add so

[2015-05-03 12:48] tonioo commented on #16
**Posted by Fabrice Flore-Thébault on 2013-06-05T12:09:28Z**

In fact, it is already possible, separating the addresses with comas.

Give an advice to the user that he could separate multiple address with comas is the best solution to make it clear.

[2015-05-03 12:48] tonioo opened #17 "Verify messages"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T10:15:02Z**

Add a mechanism to check for trusted messages (using PGP, DKIM, etc.)

_Copied from original issue: tonioo/modoboa#333_

[2015-05-03 12:49] tonioo opened #18 "*Mark as spam* feature"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T10:14:07Z**

Let webmail users tell amavis about _false negatives_.

_Copied from original issue: tonioo/modoboa#332_

[2015-05-05 07:31] tonioo opened #19 "Update message unread count after reading message"
_From @tonioo on December 4, 2013 15:27_

**Originally created by Anis Kadri on 2011-09-06T19:19:29Z**

- Select a mailbox
- Select a message
- Message unread count does not update.

_Copied from original issue: tonioo/modoboa#176_

[2015-05-05 07:31] tonioo opened #20 "Better handling of IMAP flags"
_From @tonioo on December 4, 2013 15:24_

**Originally created by Antoine Nguyen on 2010-07-29T08:31:28Z**

Actually, only the '\Answered' flag is considered while listing messages. We should also consider some others like '$forwarded'.

_Copied from original issue: tonioo/modoboa#91_

[2015-05-05 07:32] tonioo opened #21 "display number of unread messages by folders"
_From @tonioo on December 4, 2013 15:23_

**Originally created by Antoine Nguyen on 2010-04-27T14:12:36Z**

Display the number of unread messages near the folder name.

_Copied from original issue: tonioo/modoboa#64_

[2015-05-05 07:32] tonioo commented on #21
**Posted by Antoine Nguyen on 2010-04-27T15:22:23Z**

Done in [1e0de685721e].
Actual implementation is slow because we check for each folder is there are unseen messages. It will be necessary to find a faster way to display those informations.

[2015-05-05 07:32] tonioo opened #22 "Return receipts support"
_From @tonioo on December 4, 2013 15:25_

**Originally created by Antoine Nguyen on 2011-01-20T09:57:43Z**

Add this functionality to the webmail, ie. when a message is read and contains the appropriate header, prompt the user to ask if he wants to send a return receipt.

See http://en.wikipedia.org/wiki/Return_receipt for information.

_Copied from original issue: tonioo/modoboa#128_

[2015-05-06 14:35] vingeni commented on #5
works fine for me, with modoboa and modoboa-webmail on master branch
HEAD is :
- modoboa: 4d0ee14a8073c6a035e5cd8df7331cfc193b2f07
- modoboa-webmail: cf7b86b3d8b084fb3d4e76b08846e04e21a4ac4d

[2015-05-06 14:38] tonioo commented on #5
Great! Thanks for checking.

[2015-05-06 14:38] #5 closed

[2015-05-06 16:05] tonioo opened #24 "Delete file Attachments Webmail"
_From @jniltinho on December 10, 2013 14:28_

![modoboa_error_webmail](https://f.cloud.github.com/assets/1027494/1714719/128e65f2-61a7-11e3-814e-a74901049d46.png)

Error delete Attachments

use Shift + Delete like Roundcube Webmail no send file for Trash

_Copied from original issue: tonioo/modoboa#495_

[2015-05-06 16:05] tonioo commented on #24
Hi Nilton, I don't use Roundcube so I don't know this feature. You would like to be able to remove an attachment from a message in your mailbox ?

[2015-05-06 16:05] tonioo commented on #24
_From @jniltinho on December 10, 2013 14:44_

When the mailbox is full, or almost, and the message that is being deleted has a size bigger than the rest of the free space, it's not possible to delete the message (move the message to the trash to be deleted after).

[2015-05-06 16:05] tonioo commented on #24
_From @jniltinho on December 10, 2013 14:45_

Like Bug RoundCube -> http://trac.roundcube.net/ticket/1488113

[2015-05-06 16:05] tonioo commented on #24
Ok, I understand now.

[2015-05-06 16:05] tonioo commented on #24
_From @jniltinho on December 10, 2013 15:4_

:+1:

Can help to create a VM Virtualbox Ubuntu 12.10, Debian 7.0, OpenSUSE 13.1, or SuSeStudio -> http://susestudio.com/ autoinstall image -> http://susestudio.com/browse

[2015-05-06 16:05] tonioo opened #25 "Support for dovecot folder sharing"
_From @tonioo on December 4, 2013 16:25_

**Originally created by Miroslav Abrahám on 2013-09-02T22:45:28Z**

It would be useful for Modoboa webmail to support dovecot's folder sharing. Currently the webmail does not seem to like any virtual folders, such as "Shared" root folder for other shared folders.
When one is using the share folder plugin and has already subscribed to some folders, entering

[2015-05-06 16:47] vingeni commented on #4
With the master HEAD version of webmail, I am able to read an inbox with more than 18000 emails.
I also tried to fullfill my inbox with big mails, but in my case, it works.

If somebody reproduce this bug, please, attach a full callstack.

[2015-05-23 07:10] vingeni commented on #4
The bug is not reproductible with older versions of python (not reproductible on debian wheezy) and is due to a commit from september 2013 in python imaplib module.

This bug is due to a limitation added on server responses into the python's imaplib module : http://bugs.python.org/issue16039. Now the response line from an imap server must not exeed 10000 bytes. And in a case of a SEARCH or SORT on

[2015-05-23 07:26] vingeni commented on #4
In fact, there is already a discution on this imaplib._MAXLIMIT on the python's team side : http://bugs.python.org/issue23647
So this limitation issue will probably disappear with newer python versions.

[2015-05-23 12:29] vingeni commented on #4
the SSL workaround is not anymore present on latest python version (3.4.3), so it is not a good solution.

[2015-05-25 13:42] tonioo commented on #4
Many thanks for this explanation!

I think we can begin with a "monkey patch" of the std imaplib (your suggestion). In the future, if we want a better webmail, we will have to implement (or find) a new client.

[2015-06-01 13:40] #4 closed

[2015-07-15 03:00] mvb9 opened #27 "Can't delete message"
Hi, I have a problem with webmail. When user is full quota, he can't delete message, error display "Object object".  How to resolve problem? thank you very much.

[2015-07-15 07:27] tonioo commented on #27
Hi, which version are you using ?

[2015-07-15 08:08] mvb9 commented on #27
My server using version 1.3.2 , in imaputils.py i was inserted "MAXLINE = 1000000
if hasattr(imaplib, "_MAXLINE") and getattr(imaplib, "_MAXLINE") < MAXLINE:
    setattr(imaplib, "_MAXLINE", MAXLINE)", quota user is 100 MB with less than 150 messages.

[2015-07-15 08:24] tonioo commented on #27
And does it change something ?

[2015-07-15 08:47] mvb9 commented on #27
No any thing change.

[2015-07-28 10:16] yeeno opened #28 "Server reports error (on opening message ?)"
Internal Server Error: /webmail/getmailcontent
Traceback (most recent call last):
 File "/srv/pythonbrew/venvs/Python-2.7.10/mailadmin/lib/python2.7/site-packages/django/core/handlers/base.py", line 111, in get_response
   response = wrapped_callback(request, _callback_args, *_callback_kwargs)
 File "/srv/pythonbrew/venvs/Python-2.7.10/mailadmin/lib/python2.7/site-packages/django/db/transaction.py

[2015-07-29 10:24] adam-codeberg opened #29 "Missing file 396_image002.jpg@01D0C534.286E1A60"
Get the following error when trying to view some emails via webmail

Not sure why its looking for a file at that location

[code]

[2015-07-29 10:37] tonioo commented on #29
Yes, you need to manually create the media/modoboa_webmail folder to fix it.

[2015-07-29 13:21] adam-codeberg commented on #29
Any idea what the base path is at . ?

[2015-07-29 13:25] tonioo commented on #29
Check the folder where you deployed modoboa. You should find a sitestatic folder inside, use it as the base path.

[2015-07-29 13:34] adam-codeberg commented on #29
Yes thats the one.

This issue is caused when a user embeds an image in the email.
Its trying to retrieve the email from that filepath.

Trying to work out if its an issue with the webproxy, uwsgi or modoboa.

[2015-08-05 09:10] adam-codeberg commented on #29
Quick followup.

Created a folder under;
$ <modoboa's directory>/modoboa_webmail/
Gave it the appropriate file permissions and the problem was solved.

Had to repeat a similar process for file attachments as they require the following folder;
$ <modoboa's directory>/webmail/attachments/

[2015-08-05 09:11] #29 closed

[2015-08-11 06:22] mvb9 commented on #27
I find reason for this problem. When quota full function _cmd(self, name, *args, **kwargs) in imaputils.py return error. I was edit query user_query in dovecot-sql.conf.ext : user_query = SELECT '<mailboxes storage directory>/%d/%n' AS home, <uid> as uid, <gid> as gid, concat('*:bytes=', mb.quota, 'M') AS quota_rule, 'Trash:ignore' AS quota_rule2  FROM admin_mailbox mb INNER JOIN admin_domain dom

[2015-10-07 11:44] alienmindbender opened #30 "Forwarding mail from within webmail client not possible"
Hi,

when trying to forward mail from within the included webmail client the "send" button gets greyed out when pressed and nothing further is happening.
Running with debug = true sheds no light on the issue and there are no strinking entries in the log files either.
However - all other webmail client functions seem to work perfectly fine.
The frontend (1.3.4) is served via apache.

Any ideas how

[2015-10-07 11:46] tonioo commented on #30
Keep debug = true and launch a javascript console (firebug or similar), you should get more information.

[2015-10-07 12:17] alienmindbender commented on #30
Thats more strinking:
[code]
Do you need the complete firebug output?

Since I'am not a developer I can't say if this has any significance in this case - but I had to add:

import sys
sys.path.insert(0, '/pathtoinstallation/')

to wsgi.py because I ran into the "ImportError: Could not import settings" error.

[2015-10-21 09:23] #30 closed

[2015-10-22 09:28] alienmindbender opened #31 "Error on opening mail within a folder containing an umlaut"
When opening mail within a folder which contains an umlaut (foldername: "Gelöschte Elemente") the following error occurs:

[code]

I tried it with the following setups - happens in both times:

modoboa-1.3.4
modoboa_admin-1.1.1
modoboa_admin_limits-1.0.2
modoboa_imap_migration-1.0.2
modoboa_postfix_autoreply-1.0.2
modoboa_sievefilters-1.0.1
modoboa_stats-1.0.2
modoboa_webmail-1.0.1

modoboa-1.3.5

[2015-10-22 09:30] tonioo commented on #31
Could you provide the full stack trace please ?

[2015-10-22 09:42] alienmindbender commented on #31
Is this sufficient? If no, just point me in the right direction.

[code]

[2015-10-22 09:45] tonioo commented on #31
That's fine, thank you.

[2015-10-22 09:48] tonioo commented on #28
Hi, do you still have the message that was causing this issue ?

[2015-10-22 09:49] yeeno commented on #28
Yes, because I didn’t make any update since then. Is the error fixed?

Viele Grüße  - Michael

Michael Adams :: Bismarckstr. 53 :: D-47799 Krefeld
michael@adamsmail.de :: michaeladams.de
Telefon +49 2151 74767062 :: mobil +49 172 2778835 :: Fax +49 2151 74767069

[2015-10-22 09:51] tonioo commented on #28
Not yet but it would be easier to fix with the message structure... What kind of message is it ? (attachments, HTML, text, etc.)

[2015-10-23 07:22] yeeno commented on #28
I’m personally not using the webmail client, I only get the error messages. I even don’t know how often the users work with it and which emails cause the problem. Sorry, I can’t help you here.

[2015-11-01 09:34] artofmailing opened #32 "Select all button is missing"
Hello !

Not really sure if it's an bug and i post it to the right place, but i noticed the following :
an 'Select all' square or something is really missing from the web interface :-)

If we can help contribute with adding this feature please ping me back, and will do that..

Kind regards,

[2015-11-18 10:52] tonioo opened #33 "Modoboa 1.4.0 and Django 1.8"
Ensure compatibility with those versions.

[2015-12-02 09:01] tonioo opened #34 "modoboa-admin.py does not create necessary folders in ../media"
_From @alienmindbender on October 7, 2015 11:18_

Hi there,

first post on github ever - so please be lenient with me :)

The script does not create the modoboa_webmail and webmail folders in /media which seem to be needed for sending mails with attachments and viewing embedded pictures in received emails.
I haven't stumbled across the manual setup of these folders in the documentation - and since

[2015-12-03 20:23] #34 closed

[2015-12-03 20:24] #33 closed

[2015-12-03 20:31] #31 closed

[2016-01-12 13:25] bax- commented on #3
+1

[2016-03-17 15:43] Shuro commented on #25
:+1:

[2016-03-30 20:25] sin88 commented on #11
Is there a chance that the implementation of address book to modoboa-webmail will be soon. In point of fact address book in most other webmails is a core functionality... It would be great to see it in modoba. Is there any simple and verified workaround to have address book?

[2016-03-31 11:24] tonioo commented on #11
This feature could be added to the webmail, it just requires time or help. If you are familiar with python/django, don't hesitate to help :-)

[2016-03-31 11:39] sin88 commented on #11
I'm newbie in python. I discovered modoboa recently and it is what I was searching for a long time. So after some time if I will know more about python maybe I will help. First of all I added a little polish accents on www.transifex.com ;)

[2016-05-12 22:41] almereyda opened #36 "fails for admin account"
If one attaches email addresses to the admin user, webmail cannot login to the IMAP backing service and throws

This may be caused due to the `user@domain.tld` requirement for mailbox user accounts.

[2016-05-25 14:25] rmontagud opened #37 "Internal error with Spanish locale (or any locale which uses tildes)"
Moving from: https://github.com/tonioo/modoboa/issues/882 and expanding with a bit more of information

During my tests I see "Internal error" messages when I click on empty folders (such as drafts) but only with the Spanish locale (tried English and Italian)

Also I tried with another locale (portuguese) and I get the same Internal error, looks like something in the webmail software isn't playing

[2016-05-25 14:29] tonioo commented on #37
Thank you for reporting. Looks like an issue with non ascii characters on empty folders. I'll take a look into it.

[2016-05-26 16:13] rmontagud opened #38 "Multiple hosts for webmail"
Is it possible to configure the webmail to support multiple hosts so it can be accessed from https://webmail.domain-a.com and https://webmail.domain-b.com

[2016-05-26 18:07] tonioo commented on #38
You're free to configure as many vhosts as you want using nginx/apache, you just have to make sure all the domain names are listed into the ALLOWED_HOSTS setting.

[2016-05-26 19:21] rmontagud commented on #38
Seems i'm bad enough at reviewing the config files, i've just seen it after you mentioned it, thank you

[2016-06-06 14:23] #38 closed

[2016-06-06 14:41] #37 closed

[2016-07-29 01:14] ckujau commented on #24
:+1:

[2016-08-04 09:13] emestels opened #40 "Search in webmail sent items returns an error message "Empty mailbox""
When performing a search in sent items folder, the system returns an error message "Empty mailbox" what ever you are searching for.
![webmail - mozilla firefox_2016-08-04_11-12-58](https://cloud.githubusercontent.com/assets/8982895/17396625/7f4c523e-5a34-11e6-8f4f-e420f2aa6aa9.png)

[2016-08-26 10:32] tonioo commented on #40
What version do you use?
This message appears when your search does not return any result... Have you tried to play with the search options ? (click on the icon near the input)

[2016-09-02 11:23] arnonym opened #41 "Unknown encoding exception when loading email with unknown encoding"
[code]

Fixed with adding `LookupError` exception in `decode_mime` in file `modoboa/lib/u2u_decode.py`:

[code]

[2016-09-06 08:32] tonioo commented on #40
@emestels ping

[2016-09-07 19:50] tonioo opened #42 "Timezone not used to display dates"
Looks like the configured timezone is not used by the webmail.

[2016-09-07 19:53] #42 closed

[2016-09-09 10:10] spinza commented on #42
Thanks!

[2016-09-19 17:30] tkosars opened #43 "Moving message between folders in modoboa webmail keeps the original message in old folder's cur dir in filesystem"
Hi!

Newbie here. Just installed a fresh 1.6.0 modoboa instance on a cleanly installed Debian 8.5 system.
Everything is working great, but when i move messages between folders in modoboa-webmail, the original message stays in the 'cur' folder in the filesystem. The affected IMAP folders are updated properly, but not on the filesystem level.

When i move messages with other IMAP clients (tested wit

[2016-09-26 13:53] tonioo commented on #43
Actually, the webmail only flags the message as deleted and it will be removed by dovecot during the "expunge" process. (an explanation can be found here: http://kb.mozillazine.org/Deleting_messages_in_IMAP_accounts)

You can then "compress" your inbox to remove all flagged messages.
![selection_008](https://cloud.githubusercontent.com/assets/531694/18836683/54b64b50-8401-11e6-8511-be44eb92a985.pn

[2016-09-26 14:57] tkosars commented on #43
Many thanks for the info!

Modoboa is amazing :)

[2016-09-26 14:59] tonioo commented on #43
Thank you :)
I close the issue since there is nothing more to do.

[2016-09-26 14:59] #43 closed

[2016-10-05 13:11] tonioo opened #44 "Translate default mailboxes"
Add the possibility to translate default mailboxes (like INBOX).

[2016-10-05 13:12] #44 closed

[2016-10-05 13:48] tonioo opened #45 "Bad display on mobile phone"
The compose button is not displayed properly on a mobile phone and it can't be selected.

![screenshot_2016-10-03-18-35-33](https://cloud.githubusercontent.com/assets/531694/19115659/1ad55e94-8b13-11e6-8a07-9fcc7ea2c533.png)

[2016-10-14 15:50] tonioo commented on #41
This issue was moved to tonioo/modoboa#944

[2016-10-14 15:50] #41 closed

[2016-10-16 15:29] tonioo opened #47 "Mailvelope integration"
Give a try to Mailvelope (https://www.mailvelope.com) and write documentation about its integration with the webmail.

This idea was previously explained here: https://github.com/tonioo/modoboa/issues/620.

[2016-10-18 08:06] spinza commented on #32
Agreed also need this.

[2016-11-01 20:58] adeel opened #49 "Error when opening messages"
I just upgraded to 1.6.1 and now when I click on a message in my inbox (or in any other folder), I get an error message, a red box saying

In some sense this is actually an improvement, because before upgrading I would only see a blank white frame.  Maybe there's an error message being logged somewhere?  Where should I check?

[2016-11-02 08:27] tonioo commented on #49
Hi,
can you set DEBUG to True inside settings.py and reload uwsgi. You should get a complete error (directly or using firebug or similar)

[2016-11-02 08:55] adeel commented on #49
Hm, now I get an error immediately after logging in:

[code]

[2016-11-02 08:56] tonioo commented on #49
Looks like your extensions are not up-to-date. Please update them.

[2016-11-02 09:02] adeel commented on #49
I'm not very familiar with Django, is there somewhere I can see a list of all the relevant extensions?

[2016-11-02 09:03] tonioo commented on #49
I'm talking about Modoboa extensions and you should be notified automatically if you've enabled the feature. http://modoboa.org/en/weblog/2016/10/12/modoboa-161-available/

[2016-11-02 09:15] adeel commented on #49
Ok, thanks.  After doing that I'm able to log in again.  But now when I open any email I got the blank white frame where the message should be.  If I right-click and choose "View Frame Info", it says that the URL of the page is about:blank.

[2016-11-02 09:23] tonioo commented on #49
Have you tried using a javascript debugger like I proposed ?

[2016-11-02 09:32] adeel commented on #49
Wow, thanks, it turned out to be an "add_header X-Frame-Options DENY" directive I had hidden in my nginx configuration.  It's working now, thanks for your help :)

[2016-11-02 09:32] #49 closed

[2016-11-18 17:09] almereyda opened #50 "Release notes missing"
The git tags, represented as Releases in GitHub, don't contain release notes, which makes it hard for a third-party developer to follow the changes in development.

[2016-11-18 17:10] almereyda commented on #36
The error message page could look a little more friendly, though.

[2016-11-18 21:44] tonioo commented on #50
How can I add a release note to a tag ?

[2016-11-18 21:46] tonioo commented on #36
This error message is relayed from dovecot. I won't be able to do better than that, unless I a specific validation rule at account creation/modification level (I mean prevent username without an @ for accounts with a mailbox). What do you think ?

[2016-11-19 00:15] almereyda commented on #36
I was rather thinking of visually improving, i.e. by introducing a big icon
and nicer typography that doesn't look *as broken*, the error page
depending on which errorlevel dovecot returns.

On 18 November 2016 at 22:46, Antoine Nguyen <notifications@github.com>
wrote:

[2016-11-19 00:16] almereyda commented on #50
I think only after it has been pushed to GitHub directly within their UI.
That's also where you add binary releases and docs links.

On 18 November 2016 at 22:44, Antoine Nguyen <notifications@github.com>
wrote:

[2016-11-19 12:47] tonioo commented on #36
Don't hesitate to propose something if you have an idea :-).

On 19/11/2016 01:15, jon r wrote:

[2016-11-19 12:49] tonioo commented on #50
Ok I see. Do you know if it can be linked to a milestone ?

On 19/11/2016 01:16, jon r wrote:

[2016-11-23 15:34] jaesivsm commented on #9
I think this belong here, but implementing support for ThreadId and MessageId headers in mail writing would be great. It would also avoid breaking thread in other clients.

[2016-12-18 12:10] atlante77 opened #51 "command: LOGIN => Internal error occurred"
Helllo,

I have installed modoboa this morning with python script on my debian Jessie on dedicated server.
Problem : I cannot open Webmail, i always have this error :

For information i use the port 444 in nginx and i dong't find anything in logs.
I made tail -f on all log files but nothing ...
I give all right to modoboa (visudo), but same error : modoboa ALL=(ALL:ALL) ALL
Thanks in advance.

Atl

[2016-12-19 14:03] tonioo commented on #51
Hi, can you check you log file (/var/log/mail.log) to see if anything interesting appear inside? Can you also set DEBUG to True inside settings.py, reload uwsgi and try again please?

[2016-12-23 15:36] atlante77 commented on #51
Hello Tonio,

Please find below the logs from mail.log

[code]

I give you others information later.

thanks

[2017-01-12 15:01] tonioo commented on #51
@atlante77 ping

[2017-01-15 16:44] hadifarnoud opened #52 "can anyone help add draftjs to this webmail client"
draft.js is simple and light. it has auto text direction (RTL,LTR) as well.
https://facebook.github.io/draft-js/

I need some guidance to remove CKEditor and add this one to webmail. I quite like Modoboa Webmail, it's very simple and that's what we need for our users. this RTL issue is the only blocking issue we have

PS: it can be configured to have more advanced features but out of the box it's

[2017-01-16 08:11] tonioo commented on #52
@hadifarnoud Removing CKeditor is not so easy and it requires to modify the webmail javascript code. But, let users choose which editor they want to use is something interesting. I'll think about an easy way to do that.
About CKeditor, I saw you tried to enable the BiDi button but don't forget it is a plugin and that you have to install it aside CKeditor. Modifying the toolbar is not enough.

[2017-01-16 08:20] hadifarnoud commented on #52
I think draftjs is good enough to replace CKEditor all together. it automatically changes text direction as you type. neat!

It may be helpful to add BiDi button. if the way I did it is not enough, please do tell me what to do. I'll send a PR for it

[2017-01-16 08:22] tonioo commented on #52
draft.js requires react.js which is not currently used by the webmail. I don't want to introduce side effects so it needs more tests. About CKEditor, I think its documentation is the best place to start: http://docs.ckeditor.com/#!/guide/dev_plugins.

[2017-01-16 08:58] hadifarnoud commented on #52
I was able to add BiDi by editing this file /srv/www/mododemo/sitestatic/js/editor_config.js
just not sure where this file is on this repo. do you just generate this file?

[2017-01-16 09:02] tonioo commented on #52
Actually, this file is provided by the core of Modoboa. Looks like I forgot to move it to the webmail when I splitted the repositories... I'll move this file to the webmail repository.

[2017-01-17 15:14] tonioo opened #53 "Display sender address in message detail"
In addition to sender name, add sender address in message display.

[2017-01-17 15:16] tonioo opened #54 "HTML signature support"
Allow users to define HTML signatures.

Requires https://github.com/modoboa/modoboa/issues/951 and https://github.com/modoboa/modoboa/issues/1076.

[2017-01-26 09:02] oconshaw opened #55 "Css issues on centos7"
I have installed modoboa on centos7.  It works, but none of the style sheets are working.  Makes me wonder what else is broken.  The same install on Ubuntu 16 works perfectly.

[2017-01-26 09:16] tonioo commented on #55
Do you have any nginx log to show?

[2017-01-28 19:27] oconshaw commented on #55
Thanks for replying back.  I did a reinstall and it seemed to work; not sure what changed.  Then I rebooted and stuff stopped working.  Turns out postgres was not starting automatically.  Neither was uwsgi.  Right now, I am trying to get amavis working and the modoboa_imap_migration extensions to work.

The install I am using is with the modoboa-installer.

When I try to install the modoboa_imap_m

[2017-01-29 02:38] oconshaw commented on #55
Here is the output from my debug install:...

Sudo yum install wget
sudo ./run.py --debug mail.somedomain.com

[soconnor@mail modoboa-installer]$ sudo ./run.py --debug mail.somedomain.com
[sudo] password for soconnor:
Welcome to Modoboa installer!
Your mail server mail.somedomain.com will be installed with the following components:
modoboa amavis clamav dovecot nginx razor postfix spamassassin uws

[2017-01-30 08:47] tonioo commented on #55
Looks like a system dependency is missing. Can you install the package:
[code]
And try again please?

[2017-01-30 14:19] oconshaw commented on #55
Done, but still doesn’t seem to help.  I didn’t completely start from scratch – just reran the installer for modoboa and then ran the installation for the modoboa_imap_migration extension.

From the main installer I still get the following errors --

Unit modoboa_instance.service could not be found.’

And from the imap extension install, a lot of the previous errors went away with the libyaml-deve

[2017-01-31 19:17] oconshaw commented on #55
bump.  Any thoughts?

[2017-02-01 08:52] tonioo commented on #55
You must run all those commands as `modoboa` (default user created by the installer) and with the virtualenv enabled (`source /srv/modoboa/env/bin/activate` by default), otherwise it can't work.

[2017-02-01 23:34] oconshaw commented on #55
I didn’t think the installer created a virtualenv.  I thought that was optional.  No?

From: Antoine Nguyen [mailto:notifications@github.com]
Sent: Wednesday, February 01, 2017 2:52 AM
To: modoboa/modoboa-webmail <modoboa-webmail@noreply.github.com>
Cc: oconshaw <oconshaw@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [modoboa/modoboa-webmail] Css issues on centos7 (#55)

You must run

[2017-02-02 07:48] tonioo commented on #55
The installer creates a virtualenv and its default location is /srv/modoboa/env. Can you check that please?

[2017-02-02 08:30] oconshaw commented on #55
I got that figured out.  It’s not very clear that is required or that the extensions need to be installed that way.

I am trying to get offline-imap working now.

Not at all sure if I have it set correctly.  According to the error message it looks like it wants a reference to an SSL certificate.  The IMAP server I am connecting to does not use SSL:
[vmail@mail ~]$ offlineimap --info -o -d imap -u

[2017-02-02 18:48] oconshaw commented on #55
Hopefully you can provide some guidance on the IMAP extension.  I also have a question on radicale.  I see you have support for calendaring -- what about contacts?  Is that available through the web interface? --Thanks!

[2017-02-03 09:21] tonioo commented on #55
Modoboa does support calendaring for now. That's something I plan to add but I need time and/or help for that ;)

[2017-02-03 17:10] oconshaw commented on #55
Thanks for the clarification on the contacts in radicale.  Do you have any further guidance on the Offline Imap issue I am having?  See errors above. --Thanks.

[2017-02-03 20:12] tonioo commented on #55
I've released a new version of the imap migration plugin (1.0.5). Could you try it please?

[2017-02-03 22:52] oconshaw commented on #55
OK, I will give it a try.  Before I get started on that though, I had a question on the radicale calendar -- I was thinking that the web front end would create a calendar, assign permissions, and present the calendar from the web interface.  Is that how it works?  Or is it just creating the calendar and assigning permissions.  To actually see the calendar or do anything with it one must use a CALD

[2017-02-04 12:05] tonioo commented on #55
Yes, it is correct. Modoboa does not provide a web calendar yet.

[2017-02-10 22:26] oconshaw commented on #55
I tried the latest for the imap migration with 1.0.5 plugin -- no change.  Exact same error as above.  I can see that the folders get created in the .offlineimap directory in /srv/vmail directory, but nothing gets downloaded.  I don't know how to debug any further.

[2017-02-13 08:33] tonioo commented on #55
Since this issue is not related to the webmail anymore, could you please open a new one in the https://github.com/modoboa/modoboa-imap-migration repository please?

[2017-02-21 18:43] oconshaw opened #56 "move messages to mail folders"
How does one move a message to a mail folder in webmail?
Also, I can see how to create and delete a new mailbox folder.  But, when I go to the server in /srv/vmail/user account/Maildir I can see that the folder is still there.

Does it eventually get deleted somehow?

Thanks.

# Impacted versions

* Modoboa: 1.6.3
* installer used: Yes
* Webserver: Nginx
# Steps to reproduce

# Current behavior

#

[2017-02-22 15:15] tonioo commented on #56
You can drag&drop messages to the Trash folder. (look at first column on the left.)
Dovecot is in charge of deleting mailboxes and modoboa sends IMAP command to create/delete mailboxes.

[2017-03-04 23:32] amarildo opened #58 "error at sending email"
Hello, when i try to send email from wemail, i receive http error 500 with message "'module' object has no attribute 'get_globa_parameters'"

i believe is a typo in modoboa_webmail/lib/sendmail.py

strange enough it worked till today

ps: great job with modoboa

[2017-03-05 08:43] #58 closed

[2017-03-05 08:47] tonioo commented on #58
@amarildo Thanks for reporting. I guess you've upgraded your platform to 1.7.0 and new plugins. This typo was introduced by version 1.1.0 of the webmail plugin.

[2017-03-05 08:48] tonioo commented on #56
@oconshaw ping

[2017-03-07 09:41] #53 closed

[2017-03-07 15:13] mlzummo opened #60 "mailbox glitch"
https://cloud.githubusercontent.com/assets/1057527/23416668/bba7841c-fdb1-11e6-8515-a0f3141241cd.png

[2017-03-09 14:19] themsay opened #61 "Maximum attachment size - Don't apply change after value update."
version==1.6.3

I get this error message on my Thunderbird on attachment size of 26.0 MB "The size of the message you are trying to send exceeds the global size limit (11534336 bytes) of the server. The message was not sent; reduce the message size and try again."

I tried to update Parameters > Webmail > Maximum attachment size: default 2048 to higher values, but it doesn't apply my change on sav

[2017-03-09 14:21] bakelnaar commented on #18
It has been a while since there has been any comment on this thread. Is there any timeline in which it is to be expected that this feature will be implemented?
This feature would be greatly appreciated, since it would mean that every user will be able to contribute to the quality of the spam filtering.

This implementation for Roundcube might be useful to use as a basis:
https://github.com/JohnDoh

[2017-03-09 16:24] tonioo commented on #61
The message size limit is defined in the `/etc/postfix/main.cf` file and Modoboa does not modify it so you have to do it manually. The setting you're trying to change only concerns the web interface (max. upload size while you're composing a message).

About your trace, have you tried to upgrade modoboa?

[2017-03-09 16:45] themsay commented on #61
Thanks you for the info on message size limit.

Have you tried to upgrade Modoboa? Yes

I followed the steps below:
<code>cd /srv/modoboa/ && . env/bin/activate</code>
<code>pip install modoboa==1.7.1</code>
<code>cd instance/</code>
<code>python manage.py migrate</code> - then got an error here.

[2017-03-09 16:56] tonioo commented on #61
Ok but you forgot to upgrade extensions as mentioned in the upgrade procedure.

[2017-03-09 17:39] tonioo commented on #18
There is no timeline defined yet but this roundcube plugin is indeed a
good start. I was thinking about a simple button to move the message to
the Junk folder. The dovecot antispam plugin would do the rest.

Calling sa-learn is another interesting option, need to think about it.
Have you check the amavis plugin and its learning features?

On 09/03/2017 15:21, Pieter van den Boom wrote:

[2017-03-09 17:46] themsay commented on #61
@tonioo your correct.

I use http://modoboa.readthedocs.io/en/latest/upgrade.html#extensions procedure on 1.7.0 section.
My upgrade from 1.6.3 to 1.7.1 is successful.

Thanks!

[2017-03-09 17:47] themsay commented on #61
@tonioo your correct.

I use http://modoboa.readthedocs.io/en/latest/upgrade.html#extensions procedure on 1.7.0 section.
My upgrade from 1.6.3 to 1.7.1 is successful.

Thanks!

[2017-03-09 17:47] #61 closed

[2017-03-09 18:05] bakelnaar commented on #18
To be honest I'm new to Modoboa. Therefore, assuming you mean the Modoboa plugin for amavis, unfortunately I must disappoint you.

If you mean the Spamassassin plugin for amavis, then amavis just uses spamassassin in the background, so sa-learn -spam works. I assume you're already using sa-learn -ham for messages you move out of quarantaine to the inbox and sa-learn -spam for mails you delete, so

[2017-03-10 09:41] tonioo commented on #18
Actually, the quarantine and the webmail don't communicate yet. It is
possible to release a message from the quarantine using the PDP protocol
and there are also shortcuts to learn spam/ham using sa-learn. It is
possible to do global learning (amavis user when sa-learn is called),
per-domain learning or user-level learning. Those levels can be
enabled/disabled from Modoboa but are linked to the am

[2017-03-10 12:39] bakelnaar commented on #18
It indeed would create a dependency on the amavis plugin (I'm still getting familiar with the modoboa structure, so excuse me for that).

Would it be a possibility to implement it as a cross-dependency (i.e. only show the button in the case the amavis plugin is enabled)? To avoid problems with the amavis configuration, it could be implemented as a call to the amavis plugin, which then decides what

[2017-03-12 10:26] hadifarnoud commented on #52
It would be great to just add BiDi button to your editor. this is stopping us to update modoboa because I have to again edit it by hand (and not sure it works since you changed it)

[2017-03-12 13:09] tonioo commented on #18
I'll think about it. I guess the best option is to implement a
driver-based behaviour: default one would be to move messages to a
pre-defined folder, another one would be to call sa-learn if the amavis
plugin is in place.

On 10/03/2017 13:39, Pieter van den Boom wrote:

[2017-03-12 17:47] bakelnaar commented on #18
One thought on the pre-defined folder: it might be useful to make it possible to change the folder location from the settings panel. For the rest I agree with the driver-based approach.

[2017-03-15 13:11] #54 closed

[2017-03-15 13:15] tonioo commented on #52
@hadifarnoud The BiDi plugin is not enabled by default within Modoboa. Look at https://github.com/modoboa/modoboa/issues/1076 for addtional information. It will be released with 1.7.2.

[2017-03-15 13:15] #52 closed

[2017-03-15 13:16] #51 closed

[2017-03-17 11:16] #20 closed

[2017-03-17 12:38] #16 closed

[2017-03-17 14:48] #2 closed

[2017-03-17 14:50] #10 closed

[2017-03-17 14:57] tonioo commented on #18
@bakelnaar So I implemented the "move to folder" option as a quick win. I'll work on the driver-based approach later.

[2017-03-17 14:57] #18 closed

[2017-03-17 15:00] tonioo opened #64 "Mark as junk alternative: call sa-learn"
Original issue: #18

In addition to the "move to folder" approach, it could be nice to call sa-learn directly.

[2017-03-17 15:06] bakelnaar commented on #18
Thanks, I'll look into it soon.

[2017-03-17 15:15] tonioo commented on #50
Done (https://github.com/modoboa/modoboa-webmail/releases)

[2017-03-17 15:15] #50 closed

[2017-03-17 15:16] tonioo commented on #45
see #6

[2017-03-17 15:16] #45 closed

[2017-03-29 19:59] tonioo commented on #11
@sin88 FYI, I'm working on it! https://github.com/modoboa/modoboa-contacts

[2017-04-11 18:39] mundschenk-at opened #65 "ckeditor.js missing after installation"
I just installed modoboa-webmail and it works fine, except for that fact that I can't compose messages. I ran alle the required commands (`manage.py collectstatic` etc.), but `ckeditor/ckeditor.js` is missing from the `sitestatic`directory.

Addendum: the file exists in `sitestatic/js/ckeditor/ckeditor.js`, but modoboa is looking for `sitestatic/ckeditor/ckeditor/ckeditor.js`.

[2017-04-11 18:45] mundschenk-at commented on #65
The culprit seems to be commit b6a51190ab7d0c7edebb0860e02eaaa0cdb42dbd to `modoboa-webmail/modoboa_webmail/templates/modoboa_webmail/index.html`.

[2017-04-11 19:12] mundschenk-at commented on #65
After some further testing, it looks like I forgot to update `settings.py` for 1.7.2.

[2017-04-11 19:12] #65 closed

[2017-04-20 12:01] tonioo opened #66 "Contacts plugin integration"
Use contacts plugin features:
* Add contact to address book from an email
* Look for contacts when composing a message

if available.

[2017-04-20 20:54] ronaldpatino opened #68 "['[AUTHENTICATIONFAILED] Authentication failed.']"
Hi I am getting the following when using webmail, modoboa is running on

ubuntu 16.04
Modoboa 1.7.0

When using web mail I get in the ui
['[AUTHENTICATIONFAILED] Authentication failed.']

And enabling debug in dovecot I get:

mail dovecot: auth: Debug: sql(user@mailserver.com,127.0.0.1,<wosZRp9NrNZ/AAAB>): query: SELECT email AS user, password, '/srv/vmail/mailserver.com/user' AS userdb_home, 1002

[2017-04-24 07:28] tonioo commented on #68
@ronaldpatino This issue has already been fixed. Please upgrade to modoboa 1.7.3 and make sure to follow upgrade instructions for 1.7.1 and 1.7.2. (http://modoboa.readthedocs.io/en/latest/upgrade.html#id2 and http://modoboa.readthedocs.io/en/latest/upgrade.html#id1)

[2017-04-24 07:28] #68 closed

[2017-04-25 08:58] #66 closed

[2017-04-25 09:01] tonioo opened #69 "Replying to a message is impossible."
Looks like 1.1.3 broke this part.

[2017-04-25 14:49] #56 closed

[2017-04-25 14:49] #69 closed

[2017-05-17 10:56] tonioo opened #70 "Sender address selection"
Allow users to select a different sender address than the default one.

Additional information: https://modoboa.org/en/sponsor/3/.

[2017-05-17 13:21] #70 closed

[2017-05-18 13:50] tuxis-ie opened #73 "Manual refresh required after creation of a folder"
If you create a new folder, you need to manually refresh to be able to see it.

[2017-05-18 13:56] tuxis-ie opened #74 "Immutable folders don't disable Edit/Remove buttons"
When you have 'Inbox' selected, you can still click 'Remove the selected mailbox'. Obviously, you should not be able to delete that. So the link should be disabled.

The same goes for the other default mailboxes.

[2017-05-18 14:12] tuxis-ie opened #75 "Messages in the Junk folder can be marked as spam.."
Which they already are. So the button should be disabled. Or, it should be marked as 'Not spam', moving it to the INBOX.

[2017-05-18 14:13] tuxis-ie commented on #60
What happened?

[2017-05-18 16:43] tonioo opened #76 "Bad addresses display when contacts plugin not installed"
When a message is displayed, email addresses are incorrectly displayed (between []).

[2017-05-18 16:44] #76 closed

[2017-05-18 17:24] #74 closed

[2017-05-19 07:33] tonioo opened #77 "Adding an email address as contact fails"
When there is no local part, clicking on the 'add to contacts' button raises an error.

[2017-05-19 07:34] #77 closed

[2017-05-19 07:43] #73 closed

[2017-05-19 07:52] tonioo opened #78 "'Empty trash' menu action has disappeared"
The 'Empty trash' action is not available anymore.

[2017-05-19 07:53] #78 closed

[2017-05-19 08:25] tonioo opened #80 "The pagination system always returns INBOX content"
Even if you're browsing a different folder, the pagination system will return the content of the INBOX folder.

[2017-05-19 08:25] #80 closed

[2017-05-19 08:27] #75 closed

[2017-05-20 23:05] gdassori opened #81 "Wrong data format"
In this view:
https://webmail.website/webmail/#?action=viewmail&mbox=INBOX&mailid=5

the From and To value are malformed, looks like they're a List of Unicode strings:

From	[u'Alex']
To	[u'Guido']

Also, when replying I have in the "To" form:
[u'Alex <alex.lowe@gmail.com>']
Causing the form to fail with the error "Enter a valid email address."
And, in the body, also:
[u'Alex <alex.lowe@gmail.com>

[2017-05-23 06:51] tonioo commented on #81
See #76

[2017-05-23 06:51] #81 closed

[2017-06-21 17:22] msssltd opened #82 "Inbox unread count"
The unread message count on the sidebar seems to be easily confused.  The mailbox I set up for testing is consistently showing (1) when the mailbox is empty.

Is there any way to manually set the count to zero?  I had a look at the Postgres modoboa tables but could not find anything obvious.

[2017-06-22 13:55] tonioo commented on #82
@msssltd the counter is known to be buggy but in your cases, I guess you do not have expunged you mailbox? (try to compress it)

[2017-06-22 14:25] msssltd commented on #82
Thanks for the suggestion @tonioo.

I got to the bottom of this in the end.  One of my tests was to telnet to the server on port 25 and send a mail by typing SMTP commands in the console.  In this case the headers are incomplete and the mail is caught by amavis.  Releasing the message to the inbox, using the webmail front end, causes the inbox unread counter to  increment but the message is hidden

[2017-06-28 20:05] hadifarnoud commented on #64
or better yet, call sa-learn on messages moved to spam folder. not all use Modoboa Webmail

[2017-07-13 21:12] floreal797 opened #83 "Forward mail failed"
I just installed modoboa with webmail module (with the installer, with default options expect using letsencrypt instead of self signed certificates, and mysql instead of postgres).

But in webmail I can't forward a mail to somebody (regardless to the recipient). When I click on "send", nothing happen.

In the chrome developper console, I have these errors:
Failed to load resource: the server respo

[2017-07-14 16:13] floreal797 commented on #83
I fix it, I send a pull request, please process it and close this ticket then.

[2017-07-21 10:03] tonioo opened #85 "Python 3 compatibility"
Make the webmail compatible with Python 3.

[2017-07-27 18:35] #83 closed

[2017-07-28 13:58] #85 closed

[2017-07-29 10:18] danielsatanik opened #87 "Getmailcontent yields error on first try"
# Impacted versions

* Modoboa: 1.8.2
* installer used: Yes (configured cfg, no amavis)
* Webserver: Nginx

# Steps to reproduce
On may installation it happens every time an unread message is opened.
When the message is read it works fine. So reloading works.
Setting the message back to unread, yields the same problem.

# Current behavior
A red banner is displayed, informing about an internal erro

[2017-07-29 12:13] tonioo commented on #87
Please set DEBUG to True inside /srv/modoboa/instance/instance/settings.py and reload uwsgi. You should get a complete trace.

[2017-07-29 14:03] danielsatanik commented on #87
This is the beginning of the stacktrace, as it is in the webmail it is a html code, so I took a screenshot:

<img width="918" alt="screen shot 2017-07-29 at 16 02 11" src="https://user-images.githubusercontent.com/2507586/28745380-6f05d158-7477-11e7-81a1-4e3bda90b351.png">

Does this error ring a bell? Have you encountered that already?

[2017-08-01 16:33] tonioo commented on #87
@danielsatanik Ok, the trace is indeed useful. Can you tell me what is your dovecot version please?

[2017-08-02 22:55] danielsatanik commented on #87
my dovecot version is 2.2.27

[2017-08-07 09:48] JeroenvO opened #88 "Sort list of mails"
Clickable headers in the webmail to allow sorting the mail table by column. This is already possible in the quarantaine but not in the webmail.

![image](https://user-images.githubusercontent.com/5551571/29021587-4bceb65a-7b66-11e7-9437-bcada70cc031.png)

[2017-08-07 09:57] JeroenvO opened #89 "IMAP star/flag email"
Allow to set and view a flag on a message.
Outlook, android-clients and roundcube allow to flag/star an IMAP message to give it extra attention.
See for instance https://serverfault.com/questions/115769/which-imap-flags-are-reliably-supported-across-most-mail-servers

[2017-08-16 19:24] WASDIT opened #90 "Webmail Search Error"
When you select in the Mail Searchbar "both" as search option it didnt find anything!

[2017-08-16 19:26] WASDIT opened #91 "Mail Image View"
If another User send a Mail with an image (not as attachment) in the body, and you try to open it in the Webmail Inbox, it is not showed, already set in the options from text to html but still the same. In the Mailclient it is shown.

[2017-08-16 19:26] WASDIT commented on #89
Good Idea, like it (y)

[2017-08-18 08:37] tonioo commented on #91
@WASDIT Actually the problem comes from the configuration file.

Edit your settings.py file, look for this line at the beginning:
[code]
and replace it by this one:
[code]
Then reload uwsgi.

I'll fix this in the next modoboa release.

[2017-08-18 08:51] tonioo commented on #90
@WASDIT The searchbar is not very intuitive to use... Actually, you must select the option BEFORE entering your search pattern, otherwise it won't work.

[2017-08-18 14:24] #91 closed

[2017-08-18 20:33] WASDIT commented on #91
Hey, if i changed that, it is still the same but i can not recieve mails anymore.

[2017-08-18 20:44] WASDIT commented on #91
Ok the mail recieving now working but it need longer, but there is still not showing it.

[2017-09-02 18:01] noxecane opened #93 "Reading new emails only work after page reload"
I recently installed modoboa and modoboa webmail. Anytime I send an email to the mail account and then try to view the contents of the mail from the UI it shows this

[code]

To resolve it I reload the page after viewing the mail and then it works. It will still show the above error message if I don't open the message(therefore marking it as read) before reloading

[2017-09-02 18:15] noxecane commented on #93
ON further investigation turns out `fetch_parser.parse_response_chunk` does not expect an empty string as `content` from `parse_response_chunk(content)` is an empty tuple

[2017-09-04 12:24] WASDIT opened #94 "Webmail Mail open Error"
Hello,
some users have the problem if they try to open some new mails the got: Internal Server Error and they mails dont load, also activate the Debug show nothing, any idea?

[2017-09-04 22:10] noxecane commented on #94
I think this is related to #93 that I created two days ago. But Debug=True shows me Index `IndexError`. Check it out to see.

[2017-09-06 14:03] svandecappelle commented on #94
Maybe the same error for me:
INBOX mboxes generate for me:

Django Version: 1.10.7
Python Executable: /usr/bin/uwsgi-core
Python Version: 2.7.9
Modoboa webmail Version 1.2.0
Modoboa version: 1.8.2

seems to be quite different of the @noxecane reports.

[code]

[2017-09-12 11:21] haeihaiehaei opened #95 "Webmail enhancment, size and sorting"
Hi,

it would be awesome if it was possible to show the size and sort on size inside the webmail.

[2017-09-16 18:49] buttch opened #96 "Empty mail causes error"
# Impacted versions
    Modoboa: 1.9.0

# Steps to reproduce
Try open empty mail.

# Current behavior
Internal error -
![emptymailerror](https://user-images.githubusercontent.com/13139675/30514991-7433d3f8-9b20-11e7-8f26-6b96120c38be.PNG)

[2017-09-17 09:46] tonioo commented on #93
Duplicates #87

[2017-09-17 09:46] #93 closed

[2017-09-17 09:48] tonioo commented on #96
@buttch Can you set DEBUG to True inside settings.py, reload uwsgi and try again?

[2017-09-17 10:39] WASDIT opened #98 "Reply on Mail error"
Hello if you click on a Mail to Reply it came the error that the mail in the recipient field is wrong.
It is for example: [u'mail@mail.at'] so it ist wrong. can you change them to only the mail adress mail@mail.at
![bildschirmfoto 2017-09-15 um 1 16 31 pm](https://user-images.githubusercontent.com/31078768/30520019-1d34ce9c-9ba5-11e7-86ad-5badb2f64486.jpg)

[2017-09-17 10:42] WASDIT opened #99 "Mail Forward Issue"
If you forward a mail the original recipient is in the mail but only the name not the Mailadress.
I think there is forgetten that the mail adress also should display.

[2017-09-17 10:45] WASDIT opened #100 "Feature Request: Mail Adress Save to Adressbook"
If you enter in the webmail recipient field a mail adress that you have the possiblity to save them as Contact in the adressbook.

[2017-09-17 10:46] WASDIT opened #101 "Feature Request: Switch between Mails"
The possiblility to switch forward and back when you have open a mail.
so they can go to the next and previous mail.

[2017-09-21 12:50] tonioo opened #102 "Wrong mailbox used to fetch next page"
In some cases, INBOX is used instead of the currently selected mailboxes to fetch the next page of messages (> 2).

[2017-09-21 14:13] #102 closed

[2017-09-21 14:15] #87 closed

[2017-09-21 14:16] #94 closed

[2017-09-21 14:16] #89 closed

[2017-09-21 14:17] #28 closed

[2017-09-21 14:21] tonioo commented on #98
@WASDIT Which version of the webmail are you using? Did you upgrade it recently?

[2017-09-21 14:22] JeroenvO opened #104 "Printing mail shows button"
![image](https://user-images.githubusercontent.com/5551571/30700797-e8bc9ec8-9ee8-11e7-8aa2-92eda44f8eb7.png)

When printing email (with ctrl+p) the buttons are shown with their full link. The buttons should be hidden in this view, it makes no sense to print them. (See image)

[2017-09-21 16:58] #99 closed

[2017-09-21 17:00] WASDIT commented on #98
Webmail | 1.2.0

[2017-09-22 06:31] tonioo commented on #98
It it was an upgrade, did you run the collectstatic command?

[2017-09-22 08:50] Toniob commented on #3
Now that python 3 support is on the way, maybe it's time to reconsider this patch ;)

[2017-09-22 09:33] tonioo commented on #3
This gist could be helpul for Python2: https://gist.github.com/manuel-io/438c20d2f040ee797388.

[2017-09-22 09:34] #11 closed

[2017-09-22 10:58] WASDIT commented on #98
It was no upgrade, when i try it i got:

root@mail:/srv/modoboa/instance# python manage.py collectstatic

You have requested to collect static files at the destination
location as specified in your settings:

    /srv/modoboa/instance/sitestatic

This will overwrite existing files!
Are you sure you want to do this?

Type 'yes' to continue, or 'no' to cancel: yes

0 static files copied to '/srv/mod

[2017-09-22 11:00] WASDIT opened #106 "Mail forward Error"
If you forward a mail over the webmail to another user, the original mailaddress in the body is away, there is only the name of the original sender but no mail address

[2017-09-22 21:01] MBadberg opened #107 "After Upgrade to webmail 1.2.1 modoboa not shows the upgrade"
I have installed the upgrade for webmail, like the docs says. But after restart of nginx modoboa shows still the old version of webmail. 1.2.0
The output from upgrade process is in the txt file.

[modo.upgrade-webmail.txt](https://github.com/modoboa/modoboa-webmail/files/1325841/modo.upgrade-webmail.txt)
I'm sorry for the layout. it is broken, but everything is in the txt file :-)

[2017-09-23 07:45] tonioo commented on #107
You need to restart uwsgi, not nginx.
One question: have you run the collectstatic command more than once?

[2017-09-23 10:26] MBadberg commented on #107
Yes, i've run all the commands.

Okay, there should be an addition in the docs. they are not clearly enough, i think. A lil bit more explanation, what the installer installs.

Now it works, Thanks.

[2017-09-23 11:03] #107 closed

[2017-09-23 11:03] tonioo commented on #106
Which version? With the HTML editor or not?

[2017-09-27 19:37] tonioo opened #108 "Fetch parser issue with flags"
The parser does not support flags like ``$label1``.

[2017-09-27 19:48] #108 closed

[2017-09-29 17:21] EDV4BIZ opened #110 "Mail Forward Attachment Error"
Hello,
if we forward a mail in the webmail the attachment is removed in the forward mail, is it possible if i click on forward that the attachment will also in the forward mail as attachment?

[2017-09-29 17:21] WASDIT commented on #98
New updates?

[2017-09-29 18:12] tonioo commented on #110
Actually, the attachments are not displayed when you forward a message BUT they are sent (you can try).

[2017-09-29 18:18] tonioo commented on #98
This issue has a already been fixed with a previous version (see https://github.com/modoboa/modoboa-webmail/issues/76) and I can't reproduce it... Can you try to remove the sitestatic folder and run the collectstatic command once again? Also make sure to empty your browser cache.

[2017-09-29 18:43] WASDIT commented on #98
It seamed to be fixed now with the collectstatic command. i will close it now and if it is again i will reopen it.
Thanks ;)

[2017-10-01 08:52] ociotec opened #111 "After update 1.2.1 compose shows internal error"
I've updated today the modoboa-webmail package following instructions at http://modoboa.readthedocs.io/en/latest/upgrade.html.

When I click on compose new email a red pop-up window appears with _Internal error_ message.

I've checked server logs (`/var/log/uwsgi/app/modoboa_instance.log`), but it doesn't reveal anything:

    ************** [pid: 1037|app: 1|req: 23/37] ************* () {50 vars

[2017-10-01 11:30] tonioo commented on #111
@ociotec Set DEBUG to True inside settings.py, reload uwsgi and open your web developer console, track the response. You should see a more explicit python trace.

[2017-10-01 16:35] ociotec commented on #111
@tonioo thanks for the quick response.

I found 2 errors in the web console, about 2 resource files not found:
* https://*********/sitestatic/font-awesome/fonts/fontawesome-webfont.woff2
* https://*********/sitestatic/ckeditor/ckeditor/ckeditor.js

Before you ask for it, I did ran the sitestatic regeneration via (I did it again before writting this just in case...):

    python manage.py collectst

[2017-10-01 17:22] ociotec commented on #111
I've try to find those statics in the `instance/sitestatic` folder, but they were not present at the expected paths...

I downloaded ckeditor & fontawesome from respective web pages, and I put them in the expected path (I mean the paths described in my previous comment).

After this I restarted uwsgi, in the web console the resource errors dissapeared, but I still see the internal error and I cann

[2017-10-03 09:32] bl00m opened #112 "Cross-site scripting (XSS) in the webmail interface"
Hi,
I found out that the webmail is vulnerable to XSS injections.
If you put a <script> tag in the mail subject or body, it will be executed when the recipient open is mailbox on modoboa.
That's pretty dangerous because anyone could just send a mail with a malicious script to do actions that are supposed to be reserved to mailbox owner.
It could for example send mails, edit user settings, etc...

[2017-10-03 13:47] tonioo commented on #112
@bl00m Thank you for reporting this, I'll fix it for the next release.

[2017-10-03 14:19] ociotec commented on #111
Is there any progress regarding this issue? or something I can do to work-around it? Or any other log or info to report? Thanks in advance.

[2017-10-03 14:46] #112 closed

[2017-10-03 15:17] tonioo commented on #111
@ociotec Without a proper trace, I can't help you. With DEBUG set to True, watch your web console and look for a request returning a 500 error then look at the response, you should get interesting information.

[2017-10-04 16:36] bl00m opened #114 "Another XSS in the 'From' field"
Hi,
I looked at the commit that fix the XSS issues I reported (#113) and I see that the 'From' field is still considered safe.
I didn't think to it in the first place, but it's not safe because you could put a script tag in your firstname or lastname and it will run in the recipient mailbox.
The Cc and Bcc fields seems ok because they don't display firstname and lastname. And I don't think email a

[2017-10-05 08:06] TacoScheltema opened #115 "tnef decoder"
It would be nice to have tnef attachments (the dreaded winmail.dat files) decoded within webmail. this could possibly be done with tnefparse.

Cheers,
Taco

[2017-10-10 19:44] WASDIT commented on #98
Hey,
today one client of the customer tell me that it is still the same.
Not with every mail only with some.
<img width="790" alt="bildschirmfoto 2017-10-10 um 14 51 57 1" src="https://user-images.githubusercontent.com/31078768/31407180-38e188c6-ae04-11e7-868d-d21dfe3aeb99.png">

[2017-10-10 19:52] WASDIT opened #116 "Mail Forward Error #2"
We have the Problem on some mails if you forward them you get only when you click internal Error.
<img width="1107" alt="bildschirmfoto 2017-10-10 um 14 51 45" src="https://user-images.githubusercontent.com/31078768/31407442-3bba3c40-ae05-11e7-8ab7-6ddfabaeb4be.png">

[2017-10-12 14:29] jteeuw opened #117 "Error: Permission denied: A mailbox is required"
Did a fresh install on Debian9 with the modoboa-installer.
I created a domain and a mail user , but whenn i open the webmail i get the following

Error: Permission denied: A mailbox is required

[2017-10-12 14:57] tonioo commented on #117
What kind of user did you create?

[2017-10-12 15:21] jteeuw commented on #117
I created a account (simple user role ) in the identities menu, user account has an email address within the domain

[2017-10-12 15:26] tonioo commented on #117
Can you check the Mail tab to see if the email is filled?

[2017-10-12 15:33] jteeuw commented on #117
the mail tab of the user is filled in with a email adress

[2017-10-12 15:36] tonioo commented on #117
Ok. Just to make sure, are you connected with the user you created?

[2017-10-12 15:48] jteeuw commented on #117
Thanks, my mistake , i browsed directly to https//mydomain/webmail

[2017-10-12 15:48] #117 closed

[2017-10-13 15:27] tonioo commented on #106
@WASDIT ping

[2017-10-13 15:41] WASDIT commented on #106
Maybe it is already solved, i will check it with the customer.

[2017-10-13 15:51] tonioo commented on #98
Actually, this issue still happens with messages including a ``Reply-To`` header.

[2017-10-13 15:53] #116 closed

[2017-10-13 15:54] tonioo commented on #96
@buttch ping

[2017-10-13 15:55] #40 closed

[2017-10-13 15:56] tonioo commented on #111
@ociotec ping

[2017-10-13 16:08] #98 closed

[2017-10-13 16:16] tonioo commented on #114
@bl00m I confirm your analysis, it is not safe. The fix is a bit more difficult than the previous one but I'll try to do it asap.

[2017-10-15 01:43] yiminfantw commented on #27
I think this could still happen in 1.9.0 or later. My config is Ubuntu 16.04, Modoboa 1.9.1 and external LDAP. I had a test of this by reaching an user's quota and I can reproduce the "Object object" issue when deleting user email. Any idea? Thx

[2017-10-16 16:51] mirtouf opened #120 "KeyError at /webmail/getmailcontent"
Bonjour,

I found other related issue with webmail that may be related to this bugreport but without debug, I cannot tell is I describe the same bug.
My setup is modoboa 1.9.1 and webmail 1.2.1 in a virtual environment
Trying to open an email end with an error 500 in the browser's console.

Setting debug = true in settings.py gives this information:

Request Method: | GET
-- | --
https://mydomain/

[2017-10-16 18:58] tonioo commented on #27
@yiminfantw yes, I haven't officialized the proposed SQL query. You can try to apply it and see if it fixes the problem.

[2017-10-17 08:51] mirtouf commented on #120
I modified some nginx options to make them less restrictive (concerning framing) and it seems to prevent these error to happen but it also seems a poorly designed html message can make appearing other types of errors. I will investigate later.

[2017-10-17 08:51] #120 closed

[2017-10-17 10:58] tonioo commented on #120
@mirtouf Do you have access to the message which caused this trace?

[2017-10-17 17:10] mirtouf commented on #120
Sorry, I cannot find again the message for the moment. I was sure I go an other error when trying to open the message.

[2017-10-23 12:53] buttch commented on #96
Sorry I have no time to help now.

I will as soon as possible.

Regards

13.10.2017 17:54 "Antoine Nguyen" <notifications@github.com> napisał(a):

[2017-10-25 18:29] bot315 opened #121 "Reply to Mail sends to wrong recipient"
## Impacted versions

## Steps to reproduce
Send a Mail with a displayname containing a comma, and answer it.
Mailheader looks like:
`From: "Doe, John" <john.doe@example.com>`

## Current behavior
To-field contains:
`"Doe, John" <john.doe@example.com>`

Mail gets send to Doe@mydomain.com and to John@mydomain.com but not to john.doe@example.com

Snippet from Postfix-log:
`Oct 25 19:35:50 mx.mydomai

[2017-10-27 15:21] tonioo commented on #106
@WASDIT any news?

[2017-10-27 15:39] #114 closed

[2017-11-01 17:46] ociotec commented on #111
@tonioo sorry for the delay... I tried several times until I found proper tab in firefox dev tools...

I get this error in the response (`500 Internal Server Error`):

[code]

[2017-11-01 17:52] ociotec commented on #111
It seems to be a problem when compose is trying to insert my signature... I tried to change the signature but then I realized preferences view (under my profile settings is empty):

![settings](https://user-images.githubusercontent.com/9693805/32288785-4acdf49c-bf35-11e7-9e16-bf70cacad87b.png)

If I debug this request, a red strip (at web dev tools top) says cannot load "https://********/sitestati

[2017-11-02 13:04] tonioo commented on #111
@ociotec That's strange, I tried to reproduce this issue on the official demo using non-ascii characters in the signature and it works. Can you tell me what's the content of your signature?
About the CSS file, looks like it is actually empy. I'll remove this obsolete file.

[2017-11-02 13:50] plvsouza opened #124 "Upgrade 1.2.1 to 1.2.2"
How can I upgrade?
I try `pip install --upgrade modoboa-webmail` but the web admin still shows I have to upgrade even I reboot the server

[2017-11-02 14:34] tonioo opened #125 "Missing headers when replying to a message"
``References`` and ``In-Reply-To`` headers are missing from the reply.

[2017-11-02 14:38] tonioo commented on #124
The right command to run is ``pip install modoboa-webmail==1.2.2``. The online documentation will also help you: http://modoboa.readthedocs.io/en/latest/upgrade.html#extensions. Don't forget to reload uwsgi after the operation.

[2017-11-02 14:38] #124 closed

[2017-11-02 14:48] #125 closed

[2017-11-02 17:51] plvsouza commented on #124
I try this:
`
pip install modoboa-sievefilters==1.2.0
pip install modoboa-webmail==1.2.2
systemctl restart uwsgi
systemctl restart nginx
`
but the web admin still shows I have to upgrade

[2017-11-02 17:55] plvsouza commented on #124
I also tried
[code]
but the result is the same

[2017-11-02 19:25] plvsouza opened #127 "Updrade plugins"
I try this:
[code]
but the web admin still shows I have to upgrade

[2017-11-02 19:27] plvsouza commented on #127
And I also tried
[code]

[2017-11-03 14:05] ociotec commented on #111
How can I delete/edit my signature? As I mentioned before in the screenshot, preferences view is empty... (I guess due to the same error).
Is it stored in database (I didn't find it there)? or in a file? Please give me a hint regarding signature locations.
Thanks in advance.

[2017-11-09 18:06] tonioo commented on #111
It is stored in database using a JSON field. Look at the core_user table, column _parameters.

[2017-11-09 18:07] tonioo commented on #127
I think you forgot to load your virtualenv before installing the new versions. Can you check that?

[2017-11-09 19:18] plvsouza commented on #127
I don’t know how to do this on ubuntu 16.04. Can you help me?

Pedro Luis Vieira e Souza
+55 (11) 99305-7145
plvsouza@gmail.com

On 9 Nov 2017 16:07 -0200, Antoine Nguyen <notifications@github.com>, wrote:

[2017-11-09 19:21] tonioo commented on #127
If you installed modoboa using the installer and with default options:
[code]
and then reload uwsgi.

[2017-11-09 19:36] plvsouza commented on #127
Thanks, it's work

[2017-11-09 20:23] #127 closed

[2017-11-12 19:50] danielsatanik opened #128 "Attachment upload not possible"
I don't know how I should explain the issue, but basically I cannot upload any attachments in webmail. The version and extensions are as follows

![screen shot 2017-11-12 at 20 38 13](https://user-images.githubusercontent.com/2507586/32702690-e7eac94a-c7ea-11e7-84fc-4ede4384e553.jpeg)

The upload dialog just keeps spinning and looks like that

![screen shot 2017-11-12 at 20 46 54](https://user-ima

[2017-11-14 16:59] kryskool commented on #128
Hi

Have you enable HTTP/2.0 on Nginx or it's by default ?

Regards,

[2017-11-15 17:08] danielsatanik commented on #128
Hi,

just for your information, it was working before, I usually are not using the webmail, so I didn't notice. But it probably stopped working after one of the updates. For completion I add the nginx-conf I'm using for modoboa

[code]

[2017-11-15 17:39] iAdson opened #129 "Internal Error accessing INBOX features"
Hi,

We're actually facing a issue after using the modoboa-installer on a fresh new Virtual Machine.

Specs are:

Debian 8.9.0
2go RAM
2 vCPU (2,50GHz)

No errors are displayed during the installation and we can connect to the GUI portal with the default admin/password. But after creating a domain and simple test users, when we attempt to connect with one on those and go to the webmail section or

[2017-11-16 10:05] tonioo opened #130 "Error opening Google's DMARC report on webmail"
_From @olkitu on November 12, 2017 21:1_

[code]

_Copied from original issue: modoboa/modoboa-dmarc#26_

[2017-11-16 10:05] tonioo commented on #130
_From @kryskool on November 14, 2017 17:2_

Hi

Your traceback seem incomplete, can you check ?

Regards,

[2017-11-16 10:08] tonioo commented on #128
@danielsatanik HTTP code 413 means "Payload too large". I see you commented the client_max_body_size setting, why? Can you check the size of the document you tried to upload and the maximum allowed size?

[2017-11-16 10:10] tonioo commented on #129
@iAdson Can you set DEBUG to True inside settings.py and reload uwsgi please? You should see something more verbose.

[2017-11-16 11:10] danielsatanik commented on #128
Hi,

ok its working when I enable the setting for client_max_body_size, but isn't there an option to show the user a hint, that his file is too big?

[2017-11-16 16:31] iAdson commented on #129
@tonioo Thanks for the assist!

I managed to determine the issue after taking a look at the debug error message: apparently the problem was my password.

As a french user, I got a french keyboard with special keys like the 'ç' and other stuffs that doesn't exist in other countries (I guess?).
So it couldn't encode and decode the password I set on the account. I tried to create a new one with a sta

[2017-11-16 16:40] tonioo commented on #129
@iAdson Ok I see but could you please paste the full trace?

[2017-11-16 17:45] iAdson commented on #129
@tonioo Sure, see bellow the paste of it:

[2017-11-16 18:49] olkitu commented on #130
[code]

Something still missing? I copyed this from webmail when debug mode enabled on configuration.

[2017-11-17 14:53] tonioo commented on #111
@ociotec Any news about this?

[2017-11-17 14:53] tonioo commented on #106
@WASDIT ping

[2017-11-17 15:16] #130 closed

[2017-11-17 15:16] #96 closed

[2017-11-17 15:41] #129 closed

[2017-11-18 09:15] ociotec commented on #111
Sorry for the delayer answer...

I reset preferences with:

[code]

But nothing changed.

[2017-11-18 09:42] tonioo commented on #111
@ociotec I released a new version yesterday. Could you please try it?

[2017-11-18 12:53] ociotec commented on #111
@tonioo I've updated this morning before writting...

I followed typicall upgrading instructions:

[code]

At Modoboa admin view:

Name | Installed version | Last version
-- | -- | --
Modoboa | 1.9.1 | 1.9.1
Amavis frontend | 1.1.3 | 1.1.3
DMARC tools | 1.0.2 | 1.0.2
PDF credentials | 1.2.1 | 1.2.1
Postfix autoreply | 1.2.1 | 1.2.1
Sieve filters | 1.2.0 | 1.2.0
Statistics | 1.2.2 | 1.2.2
Webmail |

[2017-11-23 15:43] tonioo commented on #111
This is not the recommanded way to upgrade a modoboa plugin. Have you seen this: http://modoboa.readthedocs.io/en/latest/upgrade.html#extensions?

[2017-11-24 08:52] haeihaiehaei opened #133 "Enhancement: Contact groups"
Would be nice with having the ability to put contacts into group and send an email to that group instead of choosing 10 different contacts every time.

[2017-12-07 13:54] tonioo commented on #133
@haeihaiehaei Interesting feature indeed but more related to the contacts plugin I think.

[2017-12-08 15:50] tonioo commented on #111
@ociotec ping

[2017-12-08 15:50] #106 closed

[2017-12-14 16:11] tonioo opened #134 "Issue with keywords (custom tags/flags)"
The fetch responser parser currently does not support keywords.

[2017-12-15 12:44] #134 closed

[2017-12-22 13:22] blokkie opened #137 "compose button erases tekst in mail-compose"
When clicking the compose button again after typing a text in a new mail  erases all that text again.
to reproduce :
klick compose
types some text in the  body section
klick compose again
text is gone .

Expected behaviour
- text remains and is not removed
or
- compose-button is grayed out (disabled) as you are already in compose
or
-  ???

[2017-12-22 13:37] blokkie commented on #100
:+1:
A lot of times I've  missed this option.  And I'm not getting used to it.  All to many times I have to go back to the original mail and save the contact there , then go back to the compose to select it from the addressbook.

I don't think I'll get used to this  so a big +1   if this usablity enhancement can be implemented.

I don't like feature creep and I would not want modoboa webclient to

[2017-12-22 13:42] blokkie commented on #90
Can the default be set to both instead of "from adress" to have more change of a result ?

[2017-12-31 17:10] #88 closed

[2018-01-01 13:48] monsterstrumpf opened #140 "Webmail not sending mails"
When trying to send a mail via the Webmail with any user, i don't get an error but nothing happens. The fields clear themselves and when i look into the "Sent"-Folder nothing appears there. Incoming Mails work great.

I don't know where to look. In the mail.log is no entry when trying to send a mail from webmail.

Hope to get help here.

Wish you all a happy new year :-)

[2018-01-01 17:23] #95 closed

[2018-01-01 18:06] tonioo commented on #140
@monsterstrumpf Happy new year too. Could you open a javascript debugger to see what happens?

[2018-01-02 08:21] monsterstrumpf commented on #140
I found out that there is a source map missing....

Could that be the problem? I am not very common with the debugger, so maybe there is much more to find out but not without help ;) If interested, i could give you an testaccount to look for the problem.

Thanks in advance

[2018-01-02 12:54] monsterstrumpf commented on #140
Problem solved!

It was only a configuration issue in postfix main.cf. The interface was wrong.

Thank you for the help !

Greetz

[2018-01-02 14:02] #140 closed

[2018-01-04 13:13] tonioo commented on #100
@WASDIT @blokkie Do you think this behaviour should be automatic or not?

[2018-01-05 11:35] blokkie commented on #100
Yes automatic would be good too but only when  you reply to a mail.
+1

[2018-01-16 17:23] blokkie opened #142 "imap subdir does not list all mails in chrome browser"
when creating a subdir in imap  chrome browser does not show more then 40 mails.
In other browsers when you scroll to the bottom of the mails , an new list pops under it  to extend the list. This is the case in opera and firefox. This behavior does not happen in chrome browser

reproducible
- create subdir in a imap-account
- put more then 40 mails in that subdir
- scroll to the bottom of the mail

[2018-01-18 22:11] fyfe commented on #121
This isn't the correct fix see my comment on modoboa/modoboa#1310

[2018-01-23 07:14] nizammufid opened #143 "Webmail Issue"
![image](https://user-images.githubusercontent.com/17964885/35262549-12024fe4-0050-11e8-8d1f-9de0cf8cec7c.png)
i having some issue on the webmail and the modoboa is the latest one

[2018-01-25 12:14] #121 closed

[2018-01-25 19:45] AmazingBeu opened #147 "fragmented recipient"
When i try to send mail, the recipient is fragmented letter by letter.
The mail looks normal but when I click on "send", it fragments the recipient.

this is the mail sent :
![capture](https://user-images.githubusercontent.com/26152831/35408343-06ebeffa-020f-11e8-8a83-149307ad0dbe.PNG)

and of course, postfix cry :
![capture](https://user-images.githubusercontent.com/26152831/35408544-d0d4d8d6-020

[2018-01-25 19:51] AmazingBeu opened #148 "Nothing happens when I try to save the configuration"
When I try to modify a parameter of Modoboa, the "save" button does not react, no page load, or other. Of course, nothing is saved.

Modoboa 1.10 and full up-to-date
Debian 9 LXC - mysql

Maybe link with this other issue : [#147](https://github.com/modoboa/modoboa-webmail/issues/147)

[2018-01-25 21:24] AmazingBeu commented on #148
FIXED, miss "Recipient delimiter" in modoboa parameters. don't know why.

[2018-01-25 21:24] #148 closed

[2018-01-26 07:51] tonioo commented on #147
I think PR https://github.com/modoboa/modoboa/pull/1364 fixes this issue.

[2018-01-28 23:12] olkitu opened #149 "KeyError at webmail 'password'"
I got this error when upgrade to latest version

[code]

[2018-01-29 18:01] olkitu commented on #149
Seems now working again... Strange

[2018-01-29 18:01] #149 closed

[2018-01-30 12:42] tonioo opened #150 "Display error depending on current locale"
[code]

[2018-02-01 13:19] WASDIT opened #152 "IOError at /contacts/"
If you click in the webmail on contacts you got this error:
![image](https://user-images.githubusercontent.com/31078768/35680526-ea6a91c8-075a-11e8-9d15-7b03b4423ea9.png)

BR

[2018-02-01 13:20] WASDIT commented on #152
![image](https://user-images.githubusercontent.com/31078768/35680573-11686d54-075b-11e8-931c-89934de2a842.png)

[2018-02-01 15:46] tonioo commented on #152
@WASDIT It happens because you set DEBUG to True. Set it to False, reload and it should work again.

[2018-02-01 16:58] WASDIT commented on #152
Hey, thank you, i really forget to disable it the last time.

[2018-02-01 16:58] #152 closed

[2018-02-01 17:00] WASDIT commented on #100
Yes same meaning like blokkie

[2018-02-02 13:23] #150 closed

[2018-02-02 13:24] tonioo commented on #147
@AmazingBeu Have you tried using modoboa 1.10.1?

[2018-02-02 13:25] tonioo commented on #143
@nizammufid Can you give more information please?

[2018-02-02 14:04] AmazingBeu commented on #147
@tonioo Yes, it's fixed!

[2018-02-02 14:32] #147 closed

[2018-02-08 13:05] tonioo commented on #143
@nizammufid ping

[2018-02-09 05:07] nizammufid commented on #143
i already solve the issue by recreate the ubuntu and not to run apt-get ugrade

[2018-02-09 05:07] #143 closed

[2018-02-12 12:45] danielsatanik opened #153 "Message Body is empty"
### Info:
- Modoboa: 1.10.2
- Webmail: 1.4.1
- Installer: yes
- Upgraded with pip to the current versions

my mail contents are empty and I don't see any errors in
- /var/log/mail.log
- /var/log/nginx/access.log
- /var/log/nginx/error.log
- /var/log/uwsgi/app/modoboa_instance.log
- and on the website itself

![screen shot 2018-02-12 at 13 43 37](https://user-images.githubusercontent.com/2507586/36

[2018-02-13 19:18] #128 closed

[2018-02-15 16:55] tonioo commented on #153
@danielsatanik Does it happen with all messages?

[2018-02-15 17:05] danielsatanik commented on #153
@tonioo yes it does

[2018-02-15 17:07] tonioo commented on #153
@danielsatanik Have you tried with DEBUG set to True?

[2018-02-15 17:09] danielsatanik commented on #153
Inside Modoboa instance/instance/settings.py?
Yes

![screen shot 2018-02-15 at 18 08 37](https://user-images.githubusercontent.com/2507586/36270181-5b659c94-127b-11e8-938e-dda1a560b7dd.jpeg)

[2018-02-15 17:10] tonioo commented on #153
Yes and do not forget to reload apache. Once done, please use a javascript debugger to inspect responses sent by the server.

[2018-02-15 17:41] danielsatanik commented on #153
I get the following error in the JS console
[code]

My nginx-conf doesn't use this option, but it is in settings.py enabled.
I enabled it myself because the option `python manage.py check --deploy` suggested I should do it. Is there a different option I should choose instead of "DENY"?

I will try "SAMEORIGIN" for now and see if it fixes it.

[2018-02-15 17:43] danielsatanik commented on #153
It worked setting it to SAMEORIGIN, thank you. I guess you can close it now, but maybe you should adapt the check option then

[2018-02-15 17:44] #153 closed

[2018-03-07 17:43] #111 closed

[2018-03-14 13:29] WASDIT opened #154 "KeyError at /webmail/ - Inbox at new user"
see screenshot
![image](https://user-images.githubusercontent.com/31078768/37405114-1e902d7e-2794-11e8-95da-336d27629722.png)

[2018-03-14 14:27] WASDIT commented on #154
Its only at language: čeština

[2018-03-14 15:18] tonioo commented on #154
@WASDIT Can you provide the full stack trace please?

[2018-03-14 17:50] WASDIT commented on #154
After change the language to german and then back to čeština, it worked now....
so i can not give you at the moment the full stack trace, sorry

[2018-03-14 17:50] #154 closed

[2018-03-15 08:08] tonioo opened #155 "Webmail (mobile view): Buttons are laying about each other"
_From @Gravity-87 on March 6, 2018 12:16_

FIRST OF ALL:
Dear Modoboa-Specialists: Thx for this great project!! I installed Modoboa last weekend with the installer and now have a fully functional e-mail-server. It's a really big thing! :-)
**********************************************************************************************************
My issue...

# Impacted versions
* Modoboa: 1.10.3
*

[2018-03-18 09:38] genofire commented on #82
i got sometimes a '-1' thats also funny

[2018-03-24 18:51] #7 closed

[2018-03-26 12:21] kryskool opened #156 "Problems Webmail"
_From @carbans on March 12, 2018 16:43_

# Impacted versions

* Modoboa: 1.10.3
* installer used: Yes/No ? Yes
* Webserver: Nginx

# Steps to reproduce
When I log in, a dialogue box appears that tells me that I have a problem. The INBOX folders doesn't load.
I have 1.4.1 version of Webmail.

# Video/Screenshot link (optional)
https://imgur.com/a/UFoHO

_Copied from original issue: modoboa/modoboa#

[2018-03-26 12:23] kryskool opened #157 "Unreadable attachment files (renamed to part_2)"
_From @whiteSpaceX on December 16, 2017 8:48_

# Impacted versions

* Modoboa: 1.9.1
* installer used: Yes
* Webserver: Nginx/Apache

# Steps to reproduce
Foward a .msg file with a PDF attach as attach to web mail. (see screenshots)

# Current behavior
Some programs like SAP sends attachments like a PDF file in a attachment .msg (file type: Outlook-item). These files are automatically renamed in t

[2018-04-05 15:02] WASDIT opened #158 "Inline Pictures dont show"
Hello Antonioo,
if a user got a mail and open it in the Webmail the inserted Picture wont showed.

![image](https://user-images.githubusercontent.com/31078768/38374086-1c0dd9f0-38f3-11e8-8f09-87c8af8375f6.png)

![image](https://user-images.githubusercontent.com/31078768/38374096-22abb354-38f3-11e8-9c6e-60b5b6dcb20a.png)

BR

[2018-04-07 11:41] kryskool opened #159 "webmail error occurs when the folder is not empty"
_From @foxinstone on April 2, 2018 5:45_

# Impacted versions

* Modoboa: 1.10.3
* installer used: Yes
* Webserver: Nginx
* OS: Ubuntu 16.04

# Steps to reproduce
according the document

# Current behavior
Everything else looks good, except for  webmail show “internal error!”,when the folder isn't empty.
But, it is important that i can use remote app in my celphone to send/reveive mail, everything

[2018-04-07 11:41] kryskool commented on #159
_From @tonioo on April 2, 2018 14:33_

@foxinstone Please set DEBUG to True inside settings.py and reload your WSGI server, you should get more information about the issue.

[2018-04-07 11:41] kryskool commented on #159
_From @niko-lay on April 2, 2018 16:7_

Same issue
Where I can find a debug log?
[code]
Now in log file I see only this strings
[code]

[2018-04-07 11:41] kryskool commented on #159
_From @foxinstone on April 2, 2018 16:15_

I already set DEBUG = True, but what has changed, nothing happened.
however, when i click 'Contacts',something wrong,  i will attach a  trace back file to you.

By the way, i guess that's what about language features, because i found that too few lists the available language of choice ，i also send the screen shot to you.

![image](https://user-images.gith

[2018-04-07 11:41] kryskool commented on #159
_From @tonioo on April 6, 2018 8:50_

@foxinstone @niko-lay I've just released a new version of the webmail plugin (1.4.2), could you please try it?

[2018-04-10 13:25] niko-lay commented on #159
How can I test new version? Could you please provide a simple instructions or link?
I do not very familiar with the python

[2018-04-11 16:18] maisim commented on #159
<code>
root@mail:~# su - modoboa --shell=/bin/bashmodoboa@mail:~$ source env/bin/activate
pip install --upgrade modoboa-webmail
root@mail:~# /etc/init.d/uwsgi restart
</code>

[2018-04-11 16:26] maisim commented on #159
@kryskool , upgrade modoboa_webmail to 1.4.2 corrects the problem for me

[2018-04-11 16:42] niko-lay commented on #159
confirm, upgrade solves the issue

[2018-04-12 15:52] WASDIT commented on #158
Any Ideas @tonioo

[2018-04-16 00:56] WASDIT commented on #158
@tonioo are you here?

[2018-04-21 17:47] WASDIT commented on #158
@tonioo any news?

[2018-04-21 19:34] kryskool commented on #158
Hi @WASDIT

Did you use [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) ?

Regards,

[2018-04-26 13:09] WASDIT commented on #158
@tonioo @kryskool any ideas? news?

[2018-04-27 07:12] #159 closed

[2018-04-27 10:25] niko-lay commented on #156
Thinks #159 is same issue

[2018-04-27 12:02] carbans commented on #156
I have updated modobo-webmail, and the problems are solving, I think that the problems occur because INBOX is empty, but I do not 100% sure

[2018-04-27 12:49] #156 closed

[2018-04-29 23:38] WASDIT commented on #158
@tonioo thanks for the solution, should  i fix it manually or wait for the update?
When manually have you a short guide?

[2018-05-03 14:03] WASDIT commented on #158
@tonioo PING??

[2018-05-07 12:07] tonioo commented on #158
@WASDIT If you're not satisfied with the way free software work, go for a paid support plan.

[2018-05-07 12:27] WASDIT commented on #158
@tonioo hey, why you think i am not satisfied? i ask only if i should update it manual or wait for the next release? i am now a little bit confused.

[2018-05-09 11:33] tonioo commented on #158
@WASDIT Asking something using only uppercase letters is something I really hate... Modoboa is a free software and I'm not paid to work on it so I answer when I can.
Nevermind, you can fix it manually in a hurry. A new version should be released soon.

[2018-05-10 14:38] WASDIT commented on #158
Hey, sorry was not intentionally.
What is the path to the file where i have to change the code?
BR

[2018-05-14 12:22] 8Cris1 opened #162 "Remote IMAP server connection [help wanted]"
Hi, I would use modoboa-webmail to connect to a remote IMAP server. I set the parameters on the online panel setting with my remote IMAP server (no localhost) where is installed "Courier" MDA.  It seems that modoboa does not connect to him nor the user and password are recognized. What's wrong?

Thanks

[2018-05-14 17:46] #158 closed

[2018-05-16 11:40] tonioo commented on #162
Could you provide more information? (logs lines for example) Where did you declare your users: in modoboa or in another server?
BTW, Modoboa has never been tested with courrier...

[2018-05-17 07:32] 8Cris1 commented on #162
My user is declared on both Modoboa and remote server. When I login into modoboa-webmail, it correctly reaches the remote IMAP server (I see the imap logs). If I click on Inbox or Sent or on other folders I have Internal Error with this traceback:

[code]

[2018-05-17 08:54] tonioo commented on #162
As I said, modoboa webmail has never been tested with courrier...

[2018-06-06 09:42] awein opened #163 "ParseError due to unsupported flag"
There are emails that use a flag without a leading `\` or `$` will cause an internal error:
```ParseError: unexpected data_item found while looking for flag|right_parenthesis```

Example: ```FLAGS (\Seen JUNK $Junk)```

[2018-06-14 08:22] tonioo commented on #163
@awein Which version of the webmail do you use?

[2018-06-14 09:53] awein commented on #163
@tonioo Sorry for not mentioning the versions:
Modoboa: 1.10.5
Webmail: 1.4.3

[2018-06-14 09:58] tonioo commented on #163
That's strange, the regex cleary allows this kind of token: https://github.com/modoboa/modoboa-webmail/blob/master/modoboa_webmail/lib/fetch_parser.py#L93

[2018-06-14 12:30] awein commented on #163
Sure - but `JUNK` will be treated as `data_item` type since it's matching that RE first. I had a quick look too but don't think there is an easy fix without reworking the `Lexer` class.

This snippet should be enough to reproduce the issue:
[code]

[2018-06-25 09:06] 8Cris1 opened #164 "Force to change password, mailbox quota exceeded and max emails that can be sent"
Hi, have modoboa-webmail these three features?

1. Force mail user to change password after n days
2. Warning when mailbox quota exceeded
3. Set the maximum number of emails that can be sent

Is it possible to activate them?

Thanks

[2018-06-26 16:58] tonioo commented on #164
@8Cris1 Those features are not currently implemented in Modoboa.

[2018-07-03 13:53] #164 closed

[2018-07-03 14:02] 8Cris1 commented on #164
thanks

[2018-07-10 10:33] lefta opened #165 "Can't send mail with an attachment containing non-ascii characters in the file name"
#### Followup of modoboa/modoboa#1518

# Impacted versions

* Modoboa: 1.10.5
* Installer used: No
* Python version: 3.5
* Webserver: Nginx

# Steps to reproduce

Send a mail with an attachment containing non-ascii characters in the filename from the webmail. There is no problem with filenames containing only ascii characters and other mail clients (tested with GMail Android).

# Current behavior

[2018-07-13 16:49] lefta commented on #165
Note for myself for later : RTFM before asking noob questions, everything is in the docs.

I've got a development instance running and I hope to be able to provide a PR in the weekend. There is also an error stating `None` (in debug mode) when sending an empty file as attachment, I will fix it by the way.

[2018-07-13 18:13] lefta commented on #165
You asked for debug output in the other bug, so I removed a catch from the code to get the original error and here it is :

[code]

[2018-07-16 06:50] #165 closed

[2018-07-16 07:10] tonioo commented on #163
Indeed, there is a lexer rule conflict and the fix is more complicated than expected...

[2018-07-18 18:10] WASDIT opened #167 "Contact Error"
We have the Problem if we go to Contacts we got this error.

Environment:

Request Method: GET
Request URL: https://domain/contacts/

Django Version: 1.11.9
Python Version: 2.7.13
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.sites',
 'django.contrib.staticfiles',
 'reversion',
 'ckeditor',

[2018-07-19 13:09] tonioo commented on #167
@WASDIT Can you check DEBUG is set to False?

[2018-07-19 13:57] WASDIT commented on #167
@tonioo I set it to False and now it worked thanks ;)

[2018-07-19 13:57] #167 closed

[2018-07-24 18:33] SketchNI opened #168 "Select multiple attachement to upload"
I had a request from an end user of mine who uses modoboa that they would like the option of selecting multiple attachments from one instance of the file uploader.

Would this be achievable at some point?

[2018-07-24 18:47] kryskool commented on #157
Seem related to #115

[2018-08-02 09:57] SketchNI opened #169 "Webmail munches file extensions."
Good <insert time of day>

It's been reported to me by a client that when an attachment has an ampersand in the name, it fails to download correctly.

I've looked at it myself and the webmail truncates the filename at the ampersand and downloads it without an extension or the rest of the name. The file still opens correctly (For example, a spreadsheet with missing extension can still be opened in

[2018-08-02 11:06] makakken opened #170 "Cannot upload attachment"
After Increasing file upload size in modoboa-parameters to 5000000bytes (aka 5mb) i cannot upload any file. i always get: "File too Big (5000000)" error. This also happens if i try to upload a file which has a size of 381 bytes.

What am i doing wrong?

[2018-08-06 08:32] SketchNI commented on #169
Hi

A real-world filename that my client had trouble with is `H B Lonebone & Son LS3421.xls`

In attempting to download the file, I was presenting with a file called `H B Lonebone `. While it can still be manually opened by opening LibreOffice Calc/MS Excel, non-computer savvy folk would undoubtedly have trouble with this.

[2018-08-08 11:45] JayBeRayBearGun opened #171 "accessing junk folder produces internal error"
Hi,

On one account (admin) accessing the junk folder produces an internal error.

Clues remedies anyone?

regards,
JBR

PS: after a restart it says:
[code]

[2018-08-08 13:05] makakken commented on #170
@kryskool where do i get this from? any log file? turn on debug mode? anything?

[2018-08-08 13:50] makakken commented on #170
hey @kryskool , i've searched a lot, but didn't find any useful log-files. But i found a **Workaround**:

"Maximum attachment size in bytes (or KB, MB, GB if specified)" The Parameters help for Webmail told me to set in bytes, thatswhy i choose **5000000**. if i put **5MB** into the input instead, it works.

[2018-08-08 13:58] makakken commented on #170
seems this line is giwing wrong return value: https://github.com/modoboa/modoboa/blob/9f2ea29a9fe0cf78db2cf340e286601dc799756a/modoboa/lib/web_utils.py#L117

[2018-08-20 15:32] tonioo commented on #171
Does your admin account has a mailbox?

[2018-08-20 16:30] #169 closed

[2018-08-20 16:32] tonioo commented on #168
@SketchNI That's something possible but it is not a priority. Maybe your end users would accept to sponsor such a feature?

[2018-08-21 07:30] tonioo opened #173 "Webmail - add feature to display full headers of an email"
_From @InToSSH on August 10, 2018 7:53_

# Impacted versions

* Modoboa: 1.10.6
* Webmail: 1.4.4
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Open any mail in the Webmail app
# Current behavior
No button to display full headers of the mail.
# Expected behavior
It would be nice to add the possibility to display full headers of an email, same as in Quarantine tab.
Sometimes for deb

[2018-08-21 07:32] tonioo commented on #173
See #14.

[2018-08-21 07:32] #173 closed

[2018-08-21 08:32] #14 closed

[2018-08-28 09:40] JayBeRayBearGun commented on #171
you may have a point there! :)

[2018-08-28 09:40] #171 closed

[2018-08-29 13:55] makakken commented on #170
@kryskool i've proposed a fix.

[2018-08-29 13:57] makakken commented on #170
narf... bad fix... only works with values ending on zero...

[2018-09-05 09:10] syllith opened #175 "Unable to login to webmail"
Impacted versions: 1.10.6
Distribution: Debian
Codename: Stretch
Arch: 64 Bits
Database: MySQL

#Steps to reproduce:
I did a normal installation of Modoboa with no problem. Was able to login to the web panel and create my users. Was able to log in to new users account by when clicking on webmail I received : "Error: command: LOGIN => Internal error occurred. Refer to server log for more informatio

[2018-09-05 22:16] syllith commented on #175
Sure, I'm get this error repeatedly:

Sep  5 02:50:30 endurehosting amavis[29442]: (!)Net::Server: 2018/09/05-02:50:30 Couldn't open lock file "/var/run/amavis/amavisd.lock"[Permission denied]\n  at line 177 in file /usr/share/perl5/Net/Server/PreForkSimple.pm

[2018-09-06 06:46] tonioo commented on #175
Make sure this file belongs to the amavis system user and has write permission enabled.

[2018-09-06 07:30] syllith commented on #175
I have just ensured it was and it has full read and write access. Still getting the same thing. Would this be the reason I cannot get through to webmail?

[2018-09-06 08:29] tonioo commented on #175
Maybe... Have you restarted amavis after you changed file's permissions?

[2018-09-06 14:38] syllith commented on #175
I restarted the entire server

[2018-09-08 04:01] syllith commented on #175
Sorry to keep bugging you, but I'm still having the same issue. Kind of desperate to be honest. Haven't been able to get emails in almost a week now. I've reinstalled modoboa and have been comparing the settings of the online demo with mine and I've tried a few combinations of things but I'm still having the same error. Funny though, it looks like I've been capable of receiving emails since I set

[2018-09-08 10:52] tonioo commented on #175
@syllith Can you paste your logs somewhere. There should be something inside after an unsuccessful login attempt...

[2018-09-13 07:11] syllith commented on #175
Hey man, sorry for the late response. I got everything working 100%. Modoboa truly is amazing. So for future reference for anybody having issues with it, modoboa works great. The problem was because I had previously attempted to install and configure my mail server manually using dovecot and postfix. I must've messed with so many files that when modoboa went to install, it must've glossed over a f

[2018-09-14 12:39] #175 closed

[2018-10-04 15:31] #25 closed

[2018-10-09 07:35] Toniob opened #177 "Can't open an email with a 'To' field which contains an accent"
Hi,

If you try to open an email with an accent in one of the addresses of the 'to' field, you'll get a 500 error. Here is the stacktrace
[code]

[2018-10-15 14:38] jammer99 opened #178 "Unable to save email to Drafts"
This might seem silly but how do we save messages to drafts after composing them?

I pressed back on the compose window but the message was gone.

[2018-10-15 14:51] tonioo commented on #178
@jammer99 It is something the webmail does not support yet...

[2018-10-29 22:58] 0xNeffarion opened #179 "Webmail error with STARTTLS"
I'm getting the following error when trying to open the Modoboa webmail once I enable STARTTLS on IMAP settings

`
Error: Connection to IMAP server failed: [SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:590)
`

[2018-10-30 07:19] tonioo commented on #179
@0xNeffarion Which python version? What port did you configure?

[2018-10-30 13:37] tonioo commented on #179
@0xNeffarion Try using port 993 (imaps). Modoboa webmail does not propose STARTTLS for IMAP yet because Python2 does not... We're going to drop python2 support soon and then, we'll propose STARTTLS for IMAP.

[2018-10-30 13:42] 0xNeffarion commented on #179
How do I make it use IMAPS? Do I just change the port to 993?

[2018-10-30 13:44] tonioo commented on #179
Yes.

Le 30/10/2018 à 14:42, Vasco a écrit :

[2018-10-30 14:01] 0xNeffarion commented on #179
@tonioo Thank you, it works now.

Something aside though, I tried to make SMTP only work with SSL/TLS (by checking the box on the picture instead of STARTTLS) and it doesn't work when I try to connect to it via Thunderbird. Is there something else needed?

[2018-10-31 09:05] #179 closed

[2018-11-01 21:52] dakolta commented on #110
I am having the same problem, on 1.10.6.
Try to forward an email with an attachment, the receiving user reports that there is no attachment.

[2018-11-09 08:01] #110 closed

[2019-01-29 08:12] BigMichi1 opened #181 "Virtual namespace breaks webmail"
today we configured in dovecot the virtual folders. after that when we open webmail we are not able and getting this exception

[code]
Traceback:
[code]
when we disable the virtual namespace again everything is fine, so we can access the webmail ui, when we are than enable the namespace again and just reload the webmail ui the folder ius shown and can be used. after that logging out and logging in

[2019-02-06 15:59] tonioo commented on #181
@BigMichi1 What is your dovecot version please?

[2019-02-06 17:53] BigMichi1 commented on #181
Dovecot is at version 2.2.33.2

[2019-02-06 19:08] tonioo commented on #181
@BigMichi1 Thank you. I've found the issue :)

[2019-02-06 19:08] #181 closed

[2019-02-06 19:12] tonioo opened #184 "Attachments are uploaded to the wrong directory"
Attachments are still uploaded to an old directory.

[2019-02-07 07:50] #184 closed

[2019-04-29 13:51] sibuxiang opened #186 "Internal Error when trying to open mail with attached files with accent mark on filenames"
# Impacted versions

* Modoboa: 1.31.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Send a pdf file with a name including an accent mark on vowel (Ex. canción)

The email receiver(modoboa user) can't open the mail getting a little box saying "internal error"

This is a problem when spanish speaking clients are using the mail client, sending and receiving files with accent marks i

[2019-05-19 02:30] johnyradio opened #187 "Two-Factor Authentication?"
Any plans to support two-factor authentication?

thx

[2019-05-24 13:26] DaveDischord opened #188 "Unable to Send webmail."
I'm attempting to send to my personal Gmail address, and I've pasted the results below.  I never receive it, nor do I receive any bounce-back.  It just sort of disappears other than in the Sent folder.

`May 23 22:18:10 email postfix/anvil[7116]: statistics: max connection rate 1/60s for (smtpd:13.111.0.223) at May 23 22:14:49`
`May 23 22:18:10 email postfix/anvil[7116]: statistics: max connection

[2019-05-24 13:45] DaveDischord commented on #188
Yet again, I posted an issue without digging as deep as I could.  Turns out GMAIL sent the messages to the SPAM folder.  It has never done with that email address before, from my old server, which I'm ashamed to say was not as well set-up or secure as this one.  I'll close this issue, but if anyone happens to see anything in the log that I can adjust or improve, let me know.  Thank you.

[2019-05-24 13:45] #188 closed

[2019-05-27 09:17] tonioo commented on #187
See https://github.com/modoboa/modoboa/issues/1455.

[2019-05-27 09:17] #187 closed

[2019-06-05 20:19] specialseth commented on #110
Could you point out where I can find documentation on how to upgrade from Webmail 1.5.0, which is install using modoboa-installer, to Webmail 1.6.0?

[2019-06-19 11:55] EDV4BIZ opened #189 "UnicodeEncodeError at /webmail/"
Request Method: | GET
-- | --
https://xxxxxxx.xx/webmail/?action=viewmail&mbox=INBOX&mailid=56426&_=1560945034507
1.11.9
UnicodeEncodeError
'ascii' codec can't encode character u'\xe4' in position 15: ordinal not in range(128)
/usr/lib/python2.7/urllib.py in urlencode, line 1343
/usr/bin/uwsgi-core
2.7.13
['.',  '',  '/srv/modoboa/env/lib/python2.7',  '/srv/modoboa/env/lib/python2.7/plat-x86_64-li

[2019-06-24 22:38] EDV4BIZ commented on #189
@tonioo do you have any solution?

[2019-06-25 13:05] tonioo commented on #189
@EDV4BIZ I need to complete trace to answer you.

[2019-06-25 13:20] EDV4BIZ commented on #189
How can i send it to you private?

[2019-06-26 08:12] tonioo commented on #189
Send it to tonio@ngyn.org.

[2019-07-04 19:15] EDV4BIZ commented on #189
@tonioo any updates?

[2019-07-13 21:21] EDV4BIZ commented on #189
@tonioo anything?

[2019-07-23 22:01] EDV4BIZ commented on #189
@tonioo sorry to bother you, but there are any updates?

[2019-09-06 08:39] AmazingBeu commented on #189
@tonioo FYI the problem appears when the attachment has a special character in its name

Python 2.7 has the problem, not Python 3.6.

[2019-09-10 08:06] tonioo commented on #189
What version of the webmail plugin do you use?

[2019-09-10 08:08] EDV4BIZ commented on #189
@tonioo Webmail | 1.5.0

[2019-09-10 12:39] WonderingDane commented on #186
I have the same issue. Attaching a file with Danish characters, such as Æ Ø Å, will give you an "internal error" when trying to open the email in the Modoboa webmail.

[2019-10-02 20:43] monasax commented on #186
the same for Cyrillic symbols

[2019-11-27 11:06] XiaotianZha opened #190 "AUTHENTICATIONFAILED"
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
An error happened when open the web-mail
`Error: ['[AUTHENTICATIONFAILED] Authentication failed.']`

Is there any configuration I missed?

[2019-12-01 11:16] KarlBaumann commented on #5
This feature still does not work as expected. You are not able to select all messages, and Shift + Click behavior is also very veird

[2019-12-02 10:48] redfox7691 commented on #186
Same error here in Italy: I cannot view a message with pdf named **valeria.arnò.pdf**. If you can point me to a "debug guide" I'll try to resolve this issue, I don't know what is best practice to debug modoboa project...
Tnx, Claudio

[2019-12-17 09:52] tonioo commented on #186
See #189

[2019-12-17 09:52] #186 closed

[2019-12-17 09:53] #189 closed

[2019-12-18 09:11] tonioo commented on #190
@XiaotianZha Have you checked log files?

[2020-01-10 16:38] redfox7691 opened #191 "Internal Error on compose after months of use and without external cause"
I have been using modoboa for several months without problems on an Ubuntu 18.04. From this morning it is impossible to send mail, the message "INTERNAL ERROR" appears. It is not possible to compose new outgoing mail or reply. First time internal error message appears after several seconds.

On web console I've this error: GET https://my.ethosgroup.it/webmail/?action=compose&_=1578672497021 500 (I

[2020-01-14 07:33] redfox7691 commented on #191
Resolved with latest webmail_tags.py

[2020-01-14 07:33] #191 closed

[2020-01-16 10:20] francogp commented on #190
I have the same issue. No error in logs

[2020-01-21 08:31] jahswant opened #192 "Uncaught SyntaxError: Unexpected token < in JSON at position 0"
Modoboa | 1.14.0
Webmail | 1.5.0

I tried to upgrade my webmail from 1.5 to 1.6 by uploading the files to my server. This was to solve attachments forwarding issues. Everything was working correctly until I rebooted the server. I get this error. Even downgrading doesn't work.

`jquery.min.js:5 POST `https://mail.xxxx-xxx.com/webmail/?action=compose` 500 (Internal Server Error)
send @ jquery.min.js

[2020-03-22 13:33] cnieswand opened #193 "Root Folder Path INBOX"
In webmail all standard folders appear twice: Under Inbox and separate.
This is the same behaviour as if you do not set the root folder path in Outlook foe an IMAP Account … which you usually set to 'INBOX' …
If you do so (in Outlook or whatever client you use) and you create in webmail a folder NOT under Inbox, this folder is not visible in OUTLOOK.
So it seems to be as if the root folder path sh

[2020-03-22 13:34] cnieswand opened #194 "How to move mails to a folder?"
I have no idea, how to move a mail to a folder … Drag & Drop? Does not work ….

[2020-03-23 08:59] tonioo commented on #193
@cnieswand I'm not sure to understand the issue... Could you paste a screenshot or something similar please?

[2020-03-23 09:02] tonioo commented on #194
@cnieswand
![Capture d’écran du 2020-03-23 10-00-34](https://user-images.githubusercontent.com/531694/77299764-4215df00-6ced-11ea-9581-c90dd83de987.png)
Click on the left icon, hold your click and move your selection.

[2020-03-23 12:04] cnieswand commented on #194
Ups … didn't see it … maybe the icon is a bit to small … works
Thanks

[2020-03-23 12:04] #194 closed

[2020-03-23 12:29] cnieswand commented on #193
Sorry … ii's a German interface:

![image](https://user-images.githubusercontent.com/9136329/77316222-44863200-6d09-11ea-94b1-a4a5a890dcd9.png)

First of all: everything under "Eingang" = INBOX  is NOT translated … the rest is translated to German.
The folder SOME is created via Webmail with Inbox as parent. It appears correctly in Outlook via IMAP with root folder path set to "INBOX". The folder

[2020-04-02 11:48] fernandoscheffel opened #195 "Internal Error opening mail with attachment contains accent"
Hello all!

I'am from Brazil and using Modoboa in a debian 9.

I experienced a problem when I try to open an email with attachment when it contains accent like "~" or letter like "ç" getting Internal Error message. In outlook it opens correctly.

![screenshot](https://user-images.githubusercontent.com/52747191/78245736-5cef0d00-74be-11ea-93db-8d2922e549f0.JPG)

[2020-04-06 18:17] tonioo commented on #195
See https://github.com/modoboa/modoboa-webmail/issues/189.

[2020-04-06 18:17] #195 closed

[2020-05-14 16:44] s256 opened #196 "Can't send emails with attachments via webmail"
# Impacted versions
1.15.0

* Distribution: Debian
* Codename: Buster
* Arch: 64 Bits
* Database: PostgreSQL

# Steps to reproduce
Compose new email, add attachments, try to send

# Full trace using --debug option or current behaviour
[code]

# Expected behavior
Send email

Looks like a cache path is not created. Path mode is 0777

[code]
Folder is not empty, so emails without attachments work jus

[2020-05-14 18:53] tonioo commented on #196
Looks like there is a mix between ``webmail`` and ``modoboa_webmail`` directories, both are used to store attachments. It is not consistent.

[2020-05-23 22:19] PatTheMav opened #197 "Possible login errors with Python 3 due to passlib issue"
I have no idea how widespread this might be, but there is an issue with `passlib` in certain scenarios under Python 3:

For some reason cryptography calls on my system return a bytes-like object and not pure strings, which results in a `passlib` error. Passlib is used by `Django` e.g. for logging in to modoboa.

I've reported the issue upstream (https://bitbucket.org/ecollins/passlib/issues/113/er

[2020-05-27 11:51] s256 commented on #196
Sorry for the delay.
Didn't see the email notification about your answer.
[code]

[2020-06-05 13:21] Sojaner opened #198 "User impersonation feature request"
In some webmail systems, the system admin user can impersonate as a user and view their mailbox the way the end-user sees it for troubleshooting purposes.

I couldn't find anything similar while exploring the modoboa-webmail front end.

Is this something that already exists? If not, is it possible to implement this feature?

[2020-06-22 08:20] redfox7691 commented on #196
quickfix

su - modoboa
rm -rf /srv/modoboa/instance/media/modoboa_webmail
ln -s /srv/modoboa/instance/media/webmail /srv/modoboa/instance/media/modoboa_webmail

[2020-06-25 12:38] s256 commented on #196
Thanks! Worked!

[2020-06-27 11:54] cremesk commented on #178
the draft feature when writing emails would be really great!

[2020-07-09 15:59] vtoc opened #199 "Cannot reply to mails with quoted From"
It's not possible to reply to a mail with quoted From or Reply-To header, which is pefectly valid:

[code]

Will become:
[code]

Which is invalid and therefore leads to an error, when clicking on Send:

![modoboa_webmail](https://user-images.githubusercontent.com/2727071/87061715-c8aae980-c214-11ea-9259-a28943f4de33.jpg)

The reason is, in email.utils parseaddr, which is used by ImapEmail thru mod

[2020-08-05 10:14] seoni-at commented on #193
For the Outlook problem:
You have to subscribe to the folder or you need to uncheck the checkbox to lost only subscribed folders.
You can get this dialog via right click on INBOX and selecting IMAP-Folders...

![image](https://user-images.githubusercontent.com/48368099/89399715-1ed75380-d713-11ea-8164-00175c6789aa.png)

We also do have the problem with the incorrect translation in the webinterface

[2020-08-12 11:47] seoni-at commented on #155
I used the following css to get the button working but the folder menu gets set to 0px by the javascript resize function

[code]

[2020-08-19 16:05] TheBigM85 opened #200 "Modoboa Webmail doesn't work after publich IP change"
Wrote the issue in general Modoboa Forum.

Here is the Link:
https://github.com/modoboa/modoboa/issues/2004#issue-681752602

Sorry for this.

[2020-08-24 09:46] StormyWaters opened #201 "html signature does not show"
# Impacted versions

* Modoboa: X.X.x (sorry - idk)
* installer used: Yes/No ? (idk)
* Webserver: Nginx/Apache (idk)

should be the latest version.

# Steps to reproduce

copy paste:
```:<table  data-mysignature-date="2020-08-20T14:54:49.620Z" data-mysignature-is-paid="0" cellspacing="0" width="470" cellpadding="0" border="0"> <tr>  <td style="padding: 0 12px 0 0;vertical-align: top;" valign="top"

[2020-08-24 09:47] tonioo commented on #201
@StormyWaters Do you mean that your signature is not displayed at all when you send an email from the webmail?
How did you copy it?

[2020-08-24 10:18] StormyWaters commented on #201
Yes, well the html code is shown.

I basically copied the source code from mysignature.com .

[2020-09-02 14:15] tuxis-ie commented on #196
@redfox7691 fix worked for us too. @tonioo can you fix this in an installer somewhere?

[2020-09-23 11:51] maseron opened #202 "inline images not showing in webmail / image url not overwritten"
* Modoboa: 1.14
* installer used: Yes
* Webserver: Nginx

Can't get inline images to work in webmail. If I use html editor and send e-mail with picture, then on opening it do not show the picture. And the image url contains cid, looks like it's not overwritten...
Url to image in webmail:
<img alt="" src="cid:light@modoboa" style="width: 300px; height: 225px;" target="_blank">

Is there some config

[2020-10-14 17:16] PatTheMav commented on #197
Quick update: `Passlib` has fixed this in v1.7.3. One possible fix is to force-upgrade `passlib` to this version.

[2020-10-15 08:37] tonioo commented on #197
@PatTheMav I think this issue should be moved to the main repository. What do you think?

[2020-10-15 09:03] PatTheMav commented on #197
I agree - iirc modoboa itself has the dependency.

[2020-11-22 05:23] fkinaro commented on #196
Works

[2020-11-22 08:57] kryskool commented on #201
hi @StormyWaters

Can you show us a screenshot

1. Email receive
2. Signature add in the mail form.

regards

[2020-12-23 08:16] harryfoster commented on #199
Cheers for this, I had a user report the same as they've had a few senders using that 'Surname, Firstname' style. However I think the issue still remains in a sense, because a comma in the display name breaks the 'to' form field. I'm guessing because the parsing right after is looking purely for commas, whether they are quoted or not.

It's a shame it doesn't use semi-colons to split addresses in

[2021-01-15 14:07] liborbednarik commented on #196
Works well and immediately without a need to restart any service or server itself. Great, thanks!

[2021-01-20 12:54] tonioo opened #211 "Error while fetching emails"
[code]

[2021-02-02 12:41] ondraknezour opened #212 "[Errno 2] No such file or directory: '/srv/modoboa/instance/media/webmail/[tmp_file_name]"
When trying to forward message from the webmail, I got error message [Errno 2] No such file or directory: '/srv/modoboa/instance/media/webmail/... and it is true, only modoboa_webmail directory is there. Creating symbolic link modoboa_webmail -> webmail solves the problem for now, but this should be fixed somewhere else.

[2021-02-10 15:14] harryfoster commented on #212
Probably a duplicate of this: #196

[2021-02-11 20:03] #212 closed

[2021-02-11 21:39] trinkel commented on #202
Was this ever resolved? I think I am having the same issue with a new install. Is there a setting I'm missing or code that I can change in the mean time?

- Modoboa: 1.17.0
- Webmail: 1.6.0
- Ubuntu: 20.04.1
- Nginx: 1.18.0-0ubuntu1

I'm happy to provide more info, just not sure what you need.

Tim

[2021-02-12 08:23] tonioo commented on #202
@trinkel It has not been resolved yet.

[2021-02-12 19:45] trinkel commented on #202
Thanks!

[2021-02-16 11:07] dev-param opened #213 "message not delivered"
This is the mail system at host mail.example-info.com.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients. It's attached below.

For further assistance, please send mail to postmaster.

If you do so, please include this problem report. You can
delete your own text from the attached returned message.

                   The mail system

<example@aol.

[2021-04-02 14:56] tonioo commented on #213
@dev-param Can you provide a context, or more information?

[2021-04-02 14:58] #200 closed

[2021-04-02 14:59] #190 closed

[2021-04-02 14:59] #192 closed

[2021-04-02 15:56] #199 closed

[2021-04-02 15:56] #196 closed

[2021-04-02 16:05] #202 closed

[2021-06-12 14:35] ScionOfDesign opened #215 "Changing pages?"
Maybe I'm just missing it, but I imported a ton of emails into the webmail but I cannot for the life of me find out how to go back or forward a page. Is there an obvious button I'm missing?

[2021-07-03 09:16] mussashi1981 commented on #192
The problem was fixed after a reboot by itself.
What I did different was to try and send an email with attachments.
After sending that email, problem seems to have fixed by itself.

[2021-08-04 03:30] shanesipe opened #217 "Signup form"
Looking to create a signup form for modoboa that takes payment to successfully signup for email.

[2021-08-16 07:42] ciphermenial commented on #155
Another issue I have found is the data box for composing an email doesn't expand.

[2021-09-15 17:13] DaveDischord opened #219 "Changing Parameters via CLI"
So I screwed something up and changed some webmail settings under Modoboa>Parameters>Webmail (IMAP port I believe) and now I get a 404 when trying to open the web interface.  mail.domain.tld returns "404 Not Found | nginx/1.14.0 (Ubuntu)".  I was hoping to remedy this in CLI, but I have no idea where to find and fix these settings.  Any idea/other suggestions?  Thanks

[2021-11-11 20:50] jonasesser opened #222 "Embed webmailer into another website"
Hi all,

can you help me to embedd the webmailer into another website.
Currently I got the following error:

chromewebdata/:1
Refused to display 'https://mail.****.de/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

I think its related to Cross-Origin Resource Sharing (CORS).

Can you give me an hint to add the embeding site domain to cors allow list?

Best regards,
Jonas

[2021-11-12 10:39] jonasesser commented on #222
currently returned Referrer Policy: strict-origin-when-cross-origin

[2021-11-12 17:33] jonasesser commented on #222
Maybe in /srv/modoboa/instance/instance/settings.py under line # Security Settings:
Change line X_FRAME_OPTIONS = "SAMEORIGIN" to what ever you need?

[2021-11-12 17:47] jonasesser commented on #222
No this will not work. Need to change the nginx configuration. Any hints where to find it?

[2021-11-12 17:55] jonasesser commented on #222
I found it under /etc/nginx/sites-available... lets see...

[2021-11-12 20:16] jonasesser commented on #222
also not working... can't change Referrer Policy and also not X-Frame-Options. Please help!

[2021-11-12 21:02] jonasesser commented on #222
so the correct config file is /etc/nginx/sites-enabled/mail.mydomain.de.conf

But
add_header 'X-Frame-Option' 'ALLOW-FROM domain.com'
did not work. Because somewhere else already the header set to "sameorigin". So it will be conflicted.

Currently my solution is to use the newer header 'Content-Security-Policy' (only works in modern browsers):

Here my solution (DO NOT USE IN PRODUCTION)

add_head

[2021-11-12 23:35] jonasesser commented on #222
It's working for the start page. But the /login still not working:

Refused to display 'https://mail.mydomain.de/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

[2021-11-22 21:52] cl-parsons opened #224 "getquota in imaputils has an unbound variable"
This exception is raised when I try to access the webmail.

[code]

[2021-12-19 10:16] 0RutherFord0 opened #225 "Error While Sending Message"
<img width="960" alt="Untitled" src="https://user-images.githubusercontent.com/36890395/146671360-51b17b37-e0de-4d74-b96a-8325f1e4faf4.png">

Hello, I have hosted a mail server on the digital ocean. Also, port 25 is unblocked. But I can't send any msg wait webmail

[2021-12-30 20:43] fabianocruzdf opened #226 "Error on Webmail"
I get the following error, when I try to access "Webmail.'

**Error: command: NAMESPACE => Internal error occurred. Refer to server log for more information.**

Fresh install made today.

![Captura de tela 2021-12-30 174214](https://user-images.githubusercontent.com/15007971/147786768-ebc8e57b-9226-4cf1-abcf-55151213248a.png)

[2021-12-30 21:32] #226 closed

[2021-12-30 21:32] fabianocruzdf commented on #226
Disable SELinux solve the problem.

[2022-01-02 19:21] psztoch opened #227 "Problem with imap4-utf-7 on Debian 11 and Python 3.9"
LookupError *unknown encoding: imap4-utf-7*

[code]

`/srv/modoboa/env/lib/python3.9/site-packages/modoboa_webmail/lib/imaputils.py` in _listmboxes, line 492
['.',  '',  '/usr/lib/python39.zip',  '/usr/lib/python3.9',  '/usr/lib/python3.9/lib-dynload',  '/srv/modoboa/env/lib/python3.9/site-packages']

Modules version:
[code]

[2022-01-02 19:22] psztoch commented on #224
It is related to: #227

[2022-01-02 19:32] psztoch commented on #227
Patch for /srv/modoboa/env/lib/python3.9/site-packages/modoboa/lib/imap_utf7.py
[code]

[2022-01-04 11:35] avsdev-cw commented on #225
I've also been getting this. There is an inconsistency between 2 versions of modoboa I have installed (both using the installer with --beta). One which I build a few days ago works fine, the other, built yesterday and again today has this issue.  I've compared dpkg -l on both containers and also checked the python packages (build version update in django from 2.2.25 to 2.2.26 is the only change I

[2022-01-07 15:32] tonioo commented on #227
@psztoch Thanks for the fix but could you create a PR?

[2022-01-29 14:16] mohamed-ghayyad opened #229 "Message's title in the sent tab isn't truncated"
# Impacted versions

* OS Type: Debian 11
* OS Version: 11.2
* Database Type: PostgreSQL
* Modoboa: 2
* installer used: Yes
* Webserver: Nginx

# Behavior

Send a message with a long title.

# Result

overflow of the title with the message date

# Expected behavior
truncated title.

# Screenshot
https://i.imgur.com/3kcjoLu.png

[2022-02-03 12:54] #229 closed

[2022-02-08 14:07] mohamed-ghayyad opened #230 "Email Headers aren't truncated."
While checking my emails, I noticed that multiple Cc has broken down the UI
### Screenshot
https://i.imgur.com/gVv5m27.png

[2022-02-14 15:41] srulikuk commented on #25
Hi,
Has this feature been added? I cannot find where to set it and nothing in the documentation.
Many thanks.

[2022-04-30 08:20] #227 closed

[2022-04-30 18:43] x-raf opened #233 "UnboundLocalError at /webmail/ local variable 'data' referenced before assignment"
**### After updating Ubuntu to 22.04, manual reinstall of modoboa, webmail,contacts and calendars pages with errors
Any ideas what went wrong?**

![Screenshot 2022-04-30 at 20 38 14](https://user-images.githubusercontent.com/36732490/166118395-a046d78f-e276-4417-ae10-b03a14a8c0ae.png)
[code]

![Screenshot 2022-04-30 at 20 38 55](https://user-images.githubusercontent.com/36732490/166118406-7fa48d08

[2022-04-30 19:25] tonioo commented on #233
Duplicate of #224

[2022-04-30 19:25] #233 closed

[2022-05-01 07:27] #217 closed

[2022-05-01 07:58] x-raf commented on #233
@tonioo what about contacts and calendars page? Is there also a solution for those errors? #227 solution work perfect

[2022-05-04 08:08] #230 closed

[2022-05-04 08:17] #224 closed

[2022-05-04 08:18] #213 closed

[2022-05-04 08:19] tonioo commented on #215
The webmail implements an "infinite scroll" behaviour so you just have to scroll down to the bottom of the page and it will load the next content automatically (same if you go up).

[2022-05-04 08:19] #215 closed

[2022-05-04 08:45] ScionOfDesign commented on #215
Unfortunately, the intended behavior seems very erratic and inconsistent:
![Emails](https://user-images.githubusercontent.com/8867456/166648982-ddd7f0f8-64d4-40ec-b655-7afc3a5c52f9.gif)

[2022-08-31 15:51] makaderbd commented on #178
Any update for Webmail Draft feature?

[2022-09-13 18:00] echodaniel opened #236 "Image in webmail signature broken and added as attachment"
**Impacted versions**
Modoboa: 1.17
**Installer used:** Yes
**Webserver:** Nginx

When adding an image in a signature, it shows the image in Compose just fine, but upon receipt, the image is broken and instead added as an attachment.

**Steps to reproduce**
In the web console, go to Preferences>Webmail>Composing Messages>Signature text
Add an image by selecting Image>Upload>Choose File>Send it to

[2022-10-15 10:14] fedi-will commented on #82
Faulty behaviour here, too.
When I have a bunch of new test mails in my inbox and I delete them, the counter grows negatively, see screenshot.
Only when I change folders and return to inbox, the counter is correctly computed.

![modoboa-neg-mailbox](https://user-images.githubusercontent.com/89528154/195980949-6c463af5-3e72-43f8-8604-cfd93376b611.png)

[2022-11-29 15:23] antoweb opened #239 "impossible to search sent email with to address"
I want to serach email using pattern included in to. The search function return empty mailbox

[2022-11-30 12:19] tonioo commented on #239
What kind of pattern do you use?

[2022-11-30 13:00] tonioo commented on #239
Click on the loop icon, you can select the field(s) used for the search

[2022-11-30 13:04] antoweb commented on #239
Already selected but there is only "from" and not "to"
![image](https://user-images.githubusercontent.com/32364871/204803411-4b78eed8-6c97-4062-8ac9-427fde369957.png)

[2022-11-30 13:05] antoweb commented on #239
so i cant search message sent to a specific mailbox ?

[2022-11-30 13:08] tonioo commented on #239
Indeed, we miss that option...